<p>Happy new year!</p>

<p>I was thinking about new year's resolutions, and I don't really have any&mdash;at least nothing which isn't of the form "1680&times;1050."</p>

<p>Oh, perhaps I do have one: "Have new year's resolutions for 2008."</p>

<p>So, anyway, 2006 in review. Things I have accomplished last year:</p>

<ul>
	<li>Finished my first year at uni.</li>
	<li>Didn't finish Alurio&mdash;maybe I'll finish it in 2007? Who knows. ;)</li>
	<li>Wrote a silly CMS I don't even use myself anymore.</li>
	<li>Played and finished Uru.</li>
	<li>Went to an <a href="http://www.stanleykubrick.de">awesome Kubrick exposition</a> in Ghent.</li>
	<li>Noticed (again) the ever growing lack of girls in Computer Science.</li>
</ul>

<p>My predictions for 2007:</p>

<ul>
	<li>I will not find a girlfriend (also see above).</li>
	<li>Alurio will almost, but not quite, be finished.</li>
	<li>Aliens will not be attacking the Earth just yet.</li>
	<li>People will like the movie my sister and I have been working on.</li>
</ul>

<p>Yeah, that's it. Please do share <em>your</em> predictions in some way or another. Happy 2007 again!</p>

<p><strong>Update:</strong> Stoneship still doesn't have comments, but people seem to be leaving comments about this article on <a href="http://chucker.mystfans.com/2007/01/01/its-2007.entry">chucker's blog</a>. Mmmyeah. ;)</p>
