<p>If you're into creating web sites (like me), please don't "optimize" your sites for specific web browsers.</p>

<p>I just stumbled on a web site with the following notice:</p>

<blockquote><p>Unfortunately this website isn't compatible with Internet Explorer. To view the website properly, I highly recommend you switch to an alternate browser.</p></blockquote>

<p>I do believe that Internet Explorer is not the greatest browser at the moment, but <em>please</em> do some effort to make your site work in IE. It's honestly not hard at all, and the excuse "I don't have access to Internet Explorer" is ridiculous.</p>

<p>I'm glad the age of "Internet Explorer-optimized" sites is mostly over, but that does not mean you can start designing <em>Firefox</em>-optimized sites now.</p>

<p>There are <em>many</em> browsers being used today, not just Internet Explorer or Firefox. There's Safari, Camino, Opera, iCab, Konqueror, Mozilla, Shiira, and much much more. Embrace them all.</p>
