body {
	background: #000 url(http://stoneship.org/pub/background_pub.jpg) fixed top left no-repeat;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;

	line-height: 20px;

	padding: 100px;

	width: 800px;
}

pre.header,
pre.readme {
	color: #fff;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: italic;

	line-height: 20px;

	white-space: normal;
}

pre.header {
	margin: 0 0 20px 0;
}

pre.readme {
	margin: 40px 0 40px 0;
}

h2 {
	color: #fff;

	font-family: "Gill Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 36px;

	letter-spacing: 1px;

	line-height: 40px;

	margin: 0 0 40px 0;

	text-transform: uppercase;
}

a {
	padding-bottom: 1px;

	text-decoration: none;
}

a:link,
a:visited {
	color: #fff;

	border-bottom: 1px solid #fff;
}

a:hover {
	color: #d8a320;

	border-bottom: 3px double #d8a320;
}

a:active {
	color: #fff;

	border-bottom: 3px solid #fff;
}

table {
	width: 100%;

	margin: 0 0 0 -5px;
}

table tbody tr:hover {
	background: rgba(255, 255, 255, 0.1);
}

table th {
	color: #fff;

	text-align: left;
	text-transform: uppercase;

	font-size: 13px;
	font-weight: bold;

	line-height: 20px;

	padding: 0 5px 15px 5px;
}

table td {
	color: #b2b2a7;

	font-size: 13px;

	line-height: 20px;

	padding: 0 5px 5px 5px;
}

.foot {
	color: #fff;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: italic;

	line-height: 20px;

	white-space: normal;

	margin: 40px 0 20px 0;
}
