---
version:      "40"
is_hidden:    true
---

$color-x-background: lighten(#ecdebf, 10%);
$color-x-text1:      #5d5350;
$color-x-text2:      #999a8b;
$color-x-strong1:    #db793e;
$color-x-strong2:    #7b6356;

$color-background:              $color-x-background;
$color-site-name:               $color-x-strong1;

$color-text-h1:                 $color-x-strong1;
$color-text-h2:                 $color-x-strong1;
$color-text-h3:                 $color-x-strong1;

$color-text:                    $color-x-text1;
$color-text-blockquote:         $color-x-text1;
$color-text-note:               $color-x-text1;
$color-text-pre:                $color-x-text1;
$color-text-code-output:        $color-x-text1;
$color-text-meta:               $color-x-text2;
$color-text-strong:             $color-x-strong1;
$color-text-sidebar-current:    $color-x-strong1;
$color-text-footer:             $color-x-text2;
$color-text-rating:             $color-x-text1;
$color-id-key: $color-x-text2;
$color-id-value: $color-x-text1;
$color-text-link:               $color-x-text1;
$color-text-link-hover:         $color-x-strong2;
$color-text-link-active:        #000;
$color-text-current:            $color-x-strong1;
$color-text-list:               $color-x-text1;
$color-text-sidebar-link:       $color-x-text2;
$color-text-sidebar-hover:      $color-x-strong2;
$color-text-sidebar-active:     $color-x-strong2;

$color-text-footer-link:        $color-x-text2;
$color-text-footer-link-hover:  $color-x-strong2;
$color-text-footer-link-active: $color-x-strong2;

$color-border-note:             $color-x-strong1;
$color-border-blockquote:       $color-x-text2;
$color-border-pre:              $color-x-text2;
$color-border-footer:           $color-x-text2;

* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

body {
	background: $color-background;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;

	line-height: 20px;

	padding: 40px;
	margin: 20px;

	width: 720px;
}

/** ========== HEADER ========== */

#header {
	padding: 0 0 0 200px;

	position: relative;

	height: 160px;
}

#header h1 {
	color: $color-text-h1;

	font-family: Georgia, Times, serif;
	font-weight: normal;
	font-size: 39px;

	line-height: 40px;

	margin: 0 0 40px 0;
	padding: 0;

	position: absolute;

	bottom: 0;
}

/** ========== SIDEBAR ========== */

#sidebar {
	float: left;

	text-align: right;

	position: fixed;
	
	top: 220px;
	left: 50px;

	width: 150px;
}

/* title */

#sidebar div#site-title {
	color: $color-site-name;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
    font-weight: bold;

    letter-spacing: 1px;

    text-transform: uppercase;

	margin: 0 0 20px 0;
}

/* navigation */

#sidebar li {
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 12px;
    font-weight: bold;

    letter-spacing: 1px;

    text-transform: uppercase;

    list-style-type: none;
}

#sidebar span.active {
	color: $color-text-sidebar-current;
}

/* links */

#sidebar a {
	text-decoration: none;
}

#sidebar a:link,
#sidebar a:visited {
	color: $color-text-sidebar-link;
}

#sidebar a:hover {
	color: $color-text-sidebar-hover;
}

#sidebar a:active {
	color: $color-text-sidebar-active;
}

/** ========== CONTENT ========== */

#content {
	margin-left: 200px;
}

/* headers */

#content h2 {
	color: $color-text-h2;

	font-family: Georgia, Times, serif;
	font-weight: normal;
	font-size: 26px;

	line-height: 40px;

	margin: 50px 0 10px 0;
}

#content h3 {
	color: $color-text-h3;

	font-family: Georgia, Times, serif;
	font-size: 14px;
	font-weight: normal;

	line-height: 20px;

    letter-spacing: 1px;

	margin: 50px 0 10px 0;

	text-transform: uppercase;
}

#content h3.small {
	margin: 20px 0 0 0;
}

#content h2 + h3,
#content h2 + .section > h3 {
	margin-top: 30px;
}

/* text */

#content p {
	color: $color-text;

	font-size: 13px;

	line-height: 20px;

	margin: 0 0 20px 0;
}

#content p.meta {
	color: $color-text-meta;

	font-size: 11px;

	letter-spacing: 3px;

	text-transform: uppercase;
}

#content .note {
	border: 1px solid $color-border-note;

	margin: 0 0 20px 0;
	padding: 10px;
}

#content .note p {
	margin: 0;

	color: $color-text-note;
}

#content .note strong {
	color: $color-text-strong;
}

#content strong {
	color: $color-text-strong;

	font-size: 11px;
    font-weight: normal;

	text-transform: uppercase;
}

#content blockquote {
	font-style: italic;

	border: 1px solid $color-border-blockquote;

	color: $color-text-blockquote;

	font-size: 12px;

	line-height: 20px;

	margin: 0 0 20px 0;
	padding: 10px;
}

#content blockquote p {
	margin: 0;
}

/* lists */

#content ul,
#content ol {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
}

#content ul ul,
#content ul ol,
#content ol ul,
#content ol ol {
	margin-bottom: 0;
}

#content li {
	color: $color-text-list;

	font-size: 13px;

	line-height: 20px;
}

#content ul li {
	list-style-type: square;
}

/* identification card table */

#content table#id td {
	color: $color-id-value;

	font-size: 13px;

	line-height: 20px;

	padding: 0 0 20px 0;
}

#content table#id th {
	color: $color-id-key;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;

	line-height: 20px;

	padding: 0 0 20px 0;

	text-align: left;
	text-transform: uppercase;

	vertical-align: top;

	width: 150px;
}

#content table#id ul {
	margin: 0;
	padding: 0;
}

#content table#id ul li {
	list-style-type: none;
}

/* links */

#content a {
    font-weight: bold;
    text-decoration: none;
}

#content a:link,
#content a:visited {
	color: $color-text-link;
}

#content a:hover {
	color: $color-text-link-hover;
}

#content a:active {
	color: $color-text-link-active;
}

#content span.active {
	color: $color-text-current;

    font-weight: bold;
}

/* rating */

#content .rating {
	color: $color-text-rating;

	padding-left: 5px;

	letter-spacing: 3px;
}

#content .rating .empty {
	opacity: 0.5;
}

/* banners */

#content .banner a {
	border: 0;
}

#content .banner img {
	display: block;
}

/* banners - large */

#content .banner-large {
	padding: 5px 0;
	margin: 0 0 20px 0;
}

#content .banner-large img {
	background: #222;
	background: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	padding: 10px;

	width: 430px;
	height: 210px;
}

/* banners - wide */

#content .banner-wide {
	background: #222;
	background: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	margin: 0 0 20px 0;
	padding: 10px;
}

#content .banner-wide img {
	width: 500px;
	height: 240px;
}

/* banners - square */

#content .banner-square {
	background: #222;
	background: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	float: left;

	margin: 0 10px 10px 0;
	padding: 10px;
}

#content .banner-square img {
	width: 200px;
	height: 200px;
}

/* images */

#content .figure {
	margin: 0 0 20px 0;
}

/* code */

#content pre {
	border: 1px solid $color-border-pre;

	color: $color-text-pre;

	font-size: 12px;

	line-height: 20px;

	margin: 0 0 20px 0;
	padding: 10px;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#content pre code,
#content pre samp,
#content pre var,
#content pre kbd {
	background: transparent;
}

#content pre.output {
	color: $color-text-code-output;
}

#content code,
#content samp,
#content var,
#content kbd {
	font-family: "Bitstream Vera Sans Mono", Consolas, "Courier New", Courier, monospace;
	font-style: normal;
	font-size: 12px;

	padding-left: 2px;
	padding-right: 2px;

	line-height: 20px;

	background: #222;
	background: rgba(255, 255, 255, 0.1);
}

#content code .c,
#content code .cm {
    /* comment */
	color: #666;
    font-style: italic;
}

#content code .s,
#content code .s1,
#content code .sr {
    /* string */
	color: #309;
}

#content code .mi,
#content code .ss,
#content code .nb {
    /* integer, symbol, builtin */
	color: #903;
}

#content code .nf {
    /* function */
	font-weight: bold;
    color: #930;
}

#content code .kt,
#content code .nc,
#content code .no {
    /* type, class */
	color: #930;
}

#content code .n,
#content code .vi {
    /* variable */
	color: #390;
}

#content code .k,
#content code .kp {
    /* keyword */
	color: #039;
}

/** ========== FOOTER ========== */

#footer {
	clear: both;

	padding: 140px 0 80px 200px;
}

#footer .wrapper {
    padding-top: 20px;

    border-top: 1px solid $color-border-footer;
}

/* text */

#footer p {
	color: $color-text-footer;

	font-size: 12px;

	margin-bottom: 20px;

	line-height: 20px;
}

/* links */

#footer a {
    font-weight: bold;

	text-decoration: none;
}

#footer a:link,
#footer a:visited {
	color: $color-text-footer-link;
}

#footer a:hover {
	color: $color-text-footer-link-hover;
}

#footer a:active {
	color: $color-text-footer-link-active;
}
