<p>This Q&amp;A session/interview with Rand Miller, CEO at <a href="http://www.cyanworlds.com/">Cyan Worlds</a>, was held on November 12 2003.</p>

<div id="interview" class="section">
	<h3>The Interview</h3>

	<ol class="hchatlog interview">
		<li class="message question"><cite class="sender vcard"><span class="nickname">Zeus12345</span></cite>: <q>Will we be able to visit any parts of D'ni in Uru Prime?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Yep! The DRC is making some parts of the cavern available. Small areas at first and then more as time passes.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Coren</span></cite>: <q>Will we be able to create our own ages?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q>We'd like that, but it's a complicated issue. We're working to define how the art of writing ages could be simplified. But it will take time.</q></li>

		<li class="message"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q>We're working on the soundtrack now. Trying to add a bit more value to it. Like a small "making of" video that features some footage of Cyan people. It's got a cool cover, too!</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Foo</span></cite>: <q>Are there any plans to improve the avatar creation system? ie., height options?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> The primary improvements will be additional things to wear. Lots of things. Those will come first. Over time we can improve other aspects.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">kpgdenver</span></cite>: <q>How have you managed to keep a sense of fun and creativity while managing what must be a pretty large business?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> It's hard sometimes. So many things to worry about. But we've got a great team - that alone helps keep us fresh. It's fun to work with these people. I do admit that sometimes the job is REALLY tough. But right now - is the FUN part!</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">LadyKira</span></cite>: <q>Will the Age in URU Prime ever change?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Yes. That's one of the interesting parts of UruLive. Nothing dies. The connection allows us to keep the worlds alive. Adding new areas, and updating old ones as time passes.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">ElusiveOne</span></cite>: <q>When D'ni is open to everyone, how often do you anticipate opening new areas and adding new content?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> We'd like small things to happen on a daily basis. Larger things on a weekly basis, and entire ages happening roughly monthly.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Funktion</span></cite>: <q>Will you be able to explore the Live game alone. Meaning, online, but not seeing anyone else, if you so choose?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Good question. Yes. Many people will choose to explore by themselves and they're welcome to. They'll have to stay away from the city obviously. But after time, they may find that they actually enjoy exploring with others.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">xcap</span></cite>: <q>Will the new ages in Uru Live be as big and detailed as those in Uru Prime?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Some bigger, some smaller. I've had the pleasure of already seeing some of the ages that the DRC has discovered. Some really interesting small ones and some remarkably intriguing large ones - some larger than anything prime has.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">BlasterCalm</span></cite>: <q>You worked on Uru for more than five years now. The game will be launched this week. What is your greatest fear ?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> That people won't understand what it is. Since it doesn't fit neatly into existing gaming catagories, it might take some time for people to begin to understand what Uru is. I hope it has a chance to "ramp up" gracefully.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">David_Peace</span></cite>: <q>Will ages ever become 'obsolete'?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Yes and no. Sometimes ages will go away, and only those people who have copies of them will retain them. New players having to be invited by older players. But most of the time ages will just continue to get better. Always changing and offering something new. Imagine if we could have done that with Myst and it's ages.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">frankenc</span></cite>: <q>What is the expected final open date for URU Live?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Uru Live will go live on Friday in a prologue mode - meaning limited number of players as we grow things. Beyond that, things will ramp up over time.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">mateo</span></cite>: <q>Why couldn't we take the journey to D'ni through the tunnel instead of linking there?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> I think that the idea is that many people may not have wanted to take the long way down. Although I think I would enjoy it.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">SFT</span></cite>: <q>Will the DRC characters be played by dedicated voice actors, or by Cyantists, or both?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> What do you mean "played by"? Victor would be insulted! ;)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Jerle</span></cite>: <q>What is your personnal favorite age?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> I'm too diplomatic to pick one. Although I have been known to been found wandering around in Kadish.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">lonelyto25</span></cite>: <q>Will Uru live feature lonelyto25 is NOT Rand Miller t-shirts?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> We're working on those now. But it's hard to fit all those words on the shirt. ;)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">xbouxboux</span></cite>: <q>Have you seen anything happen in the online world that surprised you?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> I think I enjoyed the "base" jumping that was popular for a while. Oh, and in early versions people found out how to slide down the main stairs in the city.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">ElusiveOne</span></cite>: <q>In Uru Live, will we be interacting with more non-player characters and creatures?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Our goal is to let people interact with live people. It's much more realistic that way. The NPC's always seem a bit flat - if you know what I mean.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">EyeDe</span></cite>: <q>You've obviously spent a lot of time making URU, will you spend some time playing the game now?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> It is fun for me to go wander around the city and meet people - find out what they like and what they don't like. So yeah - I'l; be playing - you'll see me around. You'll know it's me by the fact that the name is Rand, and it looks like me. :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">DigDug</span></cite>: <q>What kind of mini-games can people play together?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> There are a few. The first of which is an an ancient D'ni game called Ahyoheek. The heek tables are found in the neighborhoods. I'm not sure how soon the DRC is planning on moving them in. Beyond that, I'll let you discover.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Nath5000</span></cite>: <q>Will we ever be able to revisit ages that we played in the other myst series games?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> I can't speak for the DRC. They're the ones who control the ages. All I know is that I'd love to. Even K'veer is interesting.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">linkerjpatrick</span></cite>: <q>How is the progress on the Lake light levels coming?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Lake light levels continue to be a problem. I think the algae is much more complex then what was originally thought. But I've heard they're made some breakthroughs based on recent discoveries.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">RoBas</span></cite>: <q>How can I meet other people if I don't know any friends who are playing URU, in other words, how can I meet new people?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> There are a few ways. The city is one - it will be full of strangers. But there will also be neighborhoods set aside for public usage. They're good places for new people to go.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">mateo</span></cite>: <q>Will we see any advertising in URU?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> None that I know of. I think that people may have mis-interpreted a recent press release. I think the point of that press release was that the DRC was now getting some funding and support from Ubi to continue their efforts.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Felipe565</span></cite>: <q>Will there be wildlife in the ages?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> I personally seen quite a bit of wildlife. From bugs to some rather large creatures that I didn't want to get too close to.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">dusante</span></cite>: <q>Are there any easter eggs in uru? can you tell us or hint us on any of them?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Yes. No.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">many people</span></cite>: <q>What the status on a possible Mac version?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Looking good. Let me start by saying that I use a Mac so I really want one. Beyond that we are working hard to make the Mac version happen. Uru was much more difficult than we had anticipated. The Mac version fell out as a necessity just so we could get Uru done at all. Now we are trying to make it happen again.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">many people</span></cite>: <q>What will Uru Live cost?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> It will likely be comparable to other persistant online games (10 - 15 USD range)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">BobFM</span></cite>: <q>Can we walk from one neighborhood to another?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Oddly enough, no. The D'ni added some level of security to their neighborhoods by not separating them. The Nexus is the primary means of getting around.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Meng</span></cite>: <q>How different was the development of URU compared to the other Myst games?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> REALLY, REALLY, REALLY HARD! So many technological challenges.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Sivrehn</span></cite>: <q>How many mehods of fast-transportation (besides linking Books) were discovered in the City, if any? (vehicles, animals or others..)</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> I've noticed quite a few - not all of which still function. The Nexus of course, and I've seen boats and construction vehicles. I've seen pictures of animals being ridden, but haven't seen any.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">DigDug</span></cite>: <q>For how long do you forsee new Ages and content coming out for Uru?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> For as long as you are interested in coming down to D'ni. There is more than enough to keep us busy for years to come.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Scraper</span></cite>: <q>We've been seeing a lot of construction cones and barriers. Will they play an important part in telling the URU story?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> The DRC is intent on safety. It has to do with Dr. Watson's concerns.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Coren</span></cite>: <q>Can you die or get injured in URU?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> You won't die, but you can still attempt dangerous things and feel some fear. Just be ready to link out quickly - if you happen to fall off of a high cliff!</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kha'Tie</span></cite>: <q>Even when I've seen an age many times, I still feel its magic when I visit. Is it like that for Cyan and the DRC too?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> It's always magic. I think it's because I'm still not sure that I've seen everything. There are certain things that change, and then there is the simple fact that the ages have so many layers. Sometimes I miss so much my first time through.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Aison</span></cite>: <q>After completing the single player portion of Uru, how many new ages will be exclusively available online to explore with others at launch?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> They'll be several additional places to go right away, and as time goes on that will expand. The DRC has been exploring some pretty remarkable places lately. Wait until you see Er'cana. :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">FishCat</span></cite>: <q>Will people who connect with a modem be able to play Uru? For some MMORPGs (such as Star Wars Galaxies) are playable, with negligible lag, on a 56K modem.</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Lag really isn't the issue. It's the need for large updates on a regular basis, such as when new Ages are opened, that make the broadband requirement necessary. Our primary use of the connection is to always supply new content. We want you to always wonder what's new.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">VanderVecken</span></cite>: <q>What's the most interesting thing to you about Uru?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Rand Miller</span></cite>: <q> Unlike this chat - the idea that it never has to end! :)</q></li>
	</ol>
</div>
