<p>I'm not very fond of reading books.</p>

<p>I have too much imagination. While reading, my mind wanders off and starts inventing its own story. My eyes keep following the letters while I'm dreaming, and when I snap out of it, I've read 40 lines without having a clue what these lines actually say.</p>

<p>I even have that with movies to some extent. Of course, loud sounds and flashing images make sure it doesn't happen much&mdash;but occasionally I'm inventing my own storyline before I know it.</p>

<p>In an attempt to put away some book/movie ideas I keep thinking about, I've decided to create my own movie.</p>

<p>Since late june, I've been working on a short film together with my sister. The movie, which is based on a short story by a well-known author, <em>yells</em> to be put into a film. The imagery in story is perfect: surreal, and minimalistic.</p>

<p>My sister shoots, I edit, and we work on the script together. It works amazingly well.</p>

<p>The short story obviously needs a lot of changes to be suitable for a film. In the movie, the protagonist is a young girl, and not a middle-aged woman; actual events become flashbacks; and so on.</p>

<p>The actors have been selected, the locations chosen, and the filming dates picked. I have the entire movie in mind (and on paper). I can't <em>wait</em> to start filming and editing it.</p>