#!/usr/bin/env ruby

### Compilation rules

compile '/assets/style/*' do
  # do nothing
end

compile '/journal/feed_private/' do
  filter :erb
  # no layout because it's not HTML
  # no rubypants because it's not HTML
end

compile '/sitemap_xml/' do
  filter :erb
  # no layout because it's not HTML
  # no rubypants because it's not HTML
end

compile '/404/' do
  filter :erb
  # no layout because that is rendered by the page itself
  # no rubypants because it messed up the PHP
end

compile '/links/*/' do
  # do nothing
end

compile '/tweets/*/' do
  # do nothing
end

compile '/' do
  filter :erb
  layout 'default'
  filter :rubypants
end

compile '*' do
  if item[:markdown]
    filter :original_markdown
  else
    filter :erb
  end

  layout 'default'
  filter :rubypants
end

### Routing rules

route '/404/' do
  '/error/404.php'
end

route '/journal/feed_private/' do
  '/journal/feed_private/index.xml'
end

route '/sitemap_xml/' do
  '/sitemap.xml'
end

route '/assets/*' do
  # path with version
  item.identifier[0..-2] + '-v' + item[:version].to_s + '.css'
end

route '/links/*/' do
  nil
end

route '/tweets/*/' do
  nil
end

route '*' do
  item.identifier + 'index.html'
end

### Layouting rules

layout '*', :erb
