<p>If you're a Mac developer, you've likely heard of <a href="http://sparkle.andymatuschak.org/">Sparkle</a>, the little framework for application updates.</p>

<p>One feature I would love Sparkle to have, is extracting update information from a HTML page instead of an RSS appcast feed. Most "download" or "release notes" pages already have nearly all the information Sparkle needs. Not having to maintain a separate appcast is less work, and less error prone.</p>

<div id="microformats-to-the-rescue" class="section">
	<h3>Microformats to the Rescue</h3>

	<p><a href="http://microformats.org/wiki/Main_Page">Microformats</a> can help here. Let me quote the description of what Microformats are, for those who are unfamiliar with Microformats:</p>

	<blockquote cite="http://microformats.org/wiki/Main_Page"><p>Microformats are small bits of HTML that represent things like people, events, tags etc. in webpages.</p></blockquote>

	<p>To give a quick example of how Microformats can be useful, assume your "about" page has the following line:</p>

	<pre><code>&lt;<span class="element">p</span>&gt;Hi! I'm Denis Defreyne.&lt;/<span class="element">p</span>&gt;</code></pre>

	<p>You'd need a English language parser to extract the full name from that about page. With Microformats though, you'd simply mark up your full name using <a href="http://microformats.org/wiki/hcard">hCard</a>, like this:</p>

	<pre><code>&lt;<span class="element">p</span> <span class="attribute">class</span>=<span class="value">"vcard"</span>&gt;
  Hi! I'm &lt;<span class="element">span</span> <span class="attribute">class</span>=<span class="value">"fn"</span>&gt;Denis Defreyne&lt;/<span class="element">span</span>&gt;.
&lt;/<span class="element">p</span>&gt;</code></pre>

	<p>(Obviously, you can mark up much more data using hCard, ranging from home addresses to telephone numbers. Check out the <a href="http://microformats.org/wiki/hcard">hCard wiki page</a> to find out more.)</p>

	<p>In a browser with Microformats support (such as <a href="http://www.newsgator.com/Individuals/NetNewsWire/Default.aspx">NetNewsWire</a>), someone could add your address card to the system's Address Book with a single click. Nifty.</p>
</div>

<div id="enter-hatom" class="section">
	<h3>Enter hAtom</h3>

	<p><a href="http://microformats.org/wiki/hatom">hAtom</a> is a microformat for syndicating content, such as blog posts. In other words, it's used to mark up blog posts' title, author, publish date, content, summary, &hellip; so that feed readers can use HTML pages as feeds instead of RSS/Atom files.</p>

	<p>So, basically, if Sparkle would support hAtom, then you'd be able get rid of your RSS appcast feed and simply use your "download" or "release notes" HTML page as an appcast feed.</p>

	<p>Imagine having the following version history page (I based this one off Adium's version history):</p>

	<pre class="wide"><code>&lt;<span class="element">html</span>&gt;
  &lt;<span class="element">head</span>&gt;
    &lt;<span class="element">title</span>&gt;Version History&lt;/<span class="element">title</span>&gt;
  &lt;/<span class="element">head</span>&gt;
  &lt;<span class="element">body</span>&gt;
    &lt;<span class="element">h1</span>&gt;Version History&lt;/<span class="element">h1</span>&gt;
    &lt;<span class="element">div</span>&gt;
      &lt;<span class="element">h2</span>&gt;Adium 1.0.4&lt;/<span class="element">h2</span>&gt;
      &lt;<span class="element">p</span>&gt;Released on 24 June.&lt;/<span class="element">p</span>&gt;
      &lt;<span class="element">div</span>&gt;
        &lt;<span class="element">ul</span>&gt;
          &lt;<span class="element">li</span>&gt;Fixed a crash introduced in 1.0.3&lt;/<span class="element">li</span>&gt;
          &lt;<span class="element">li</span>&gt;Fixed group chat when message history is enabled&lt;/<span class="element">li</span>&gt;
        &lt;/<span class="element">ul</span>&gt;
        &lt;<span class="element">p</span>&gt;&lt;<span class="element">a</span> <span class="attribute">href</span>=<span class="value">"http://adiumx.cachefly.net/Adium_1.0.4.dmg"</span>&gt;Download&lt;/<span class="element">a</span>&gt;.&lt;/<span class="element">p</span>&gt;
      &lt;/<span class="element">div</span>&gt;
    &lt;/<span class="element">div</span>&gt;
  &lt;/<span class="element">body</span>&gt;
&lt;/<span class="element">html</span>&gt;</code></pre>

	<p>This is a simple, straightforward HTML page, with release notes for a single application version. (I've only included one application version for clarity.)</p>

	<p>To allow Sparkle to extract update information from this page, we need to mark up the download URL and the release notes for each version. Adding hAtom could result in something like this:</p>

	<pre class="wide"><code>&lt;<span class="element">html</span>&gt;
  &lt;<span class="element">head</span>&gt;
    &lt;<span class="element">title</span>&gt;Version History&lt;/<span class="element">title</span>&gt;
  &lt;/<span class="element">head</span>&gt;
  &lt;<span class="element">body</span>&gt;
    &lt;<span class="element">h1</span>&gt;Version History&lt;/<span class="element">h1</span>&gt;
    &lt;<span class="element">div</span> <span class="attribute">class</span>=<span class="value">"hentry"</span>&gt;
      &lt;<span class="element">h2</span> <span class="attribute">class</span>=<span class="value">"entry-title"</span>&gt;Adium 1.0.4&lt;/<span class="element">h2</span>&gt;
      &lt;<span class="element">p</span>&gt;Released on &lt;<span class="element">abbr</span> <span class="attribute">class</span>=<span class="value">"updated"</span> <span class="attribute">title</span>=<span class="value">"2007-06-20T18:00+01:00"</span>&gt;24 June&lt;/<span class="element">abbr</span>&gt;.&lt;/<span class="element">p</span>&gt;
      &lt;<span class="element">div</span> <span class="attribute">class</span>=<span class="value">"entry-content"</span>&gt;
        &lt;<span class="element">ul</span>&gt;
          &lt;<span class="element">li</span>&gt;Fixed a crash introduced in 1.0.3&lt;/<span class="element">li</span>&gt;
          &lt;<span class="element">li</span>&gt;Fixed group chat when message history is enabled&lt;/<span class="element">li</span>&gt;
        &lt;/<span class="element">ul</span>&gt;
        &lt;<span class="element">p</span>&gt;&lt;<span class="element">a</span> <span class="attribute">href</span>=<span class="value">"http://adiumx.cachefly.net/Adium_1.0.4.dmg"</span> <span class="attribute">rel</span>=<span class="value">"enclosure"</span>&gt;Download&lt;/<span class="element">a</span>&gt;.&lt;/<span class="element">p</span>&gt;
      &lt;/<span class="element">div</span>&gt;
    &lt;/<span class="element">div</span>&gt;
  &lt;/<span class="element">body</span>&gt;
&lt;/<span class="element">html</span>&gt;</code></pre>

	<p>And that's it. If Sparkle supported hAtom, you'd have been able to use your HTML download page instead of a separate RSS appcast.</p>
</div>

<div id="an-appcast-microformat" class="section">
	<h3>An Appcast Microformat</h3>

	<p>The title of this post is a bit misleading. It's not just about hAtom&mdash;it's really about an appcast microformat.</p>

	<p>hAtom by itself doesn't suffice for appcasts. Sparkle-flavoured RSS appcasts have extra attributes, such as MD5 checksums (<code>sparkle:md5Sum</code>). Such attributes will have to be marked up in HTML as well.</p>

	<p>This appcast microformat will be built on top of hAtom and perhaps other existing microformats, adding some appcast-specific functionality. Check out its <a href="http://microformats.org/wiki/downloads-brainstorming" title="appcast microformat">its wiki page</a> over at the Microformats wiki for the gory details.</p>
</div>

<div id="help-me-out" class="section">
	<h3>Help Me Out</h3>

	<p>The above is just an example of what hAtom support for Sparkle could look like. The appcast microformat is quite new and it's still in flux.</p>

	<p>There's still quite a few unresolved issues floating around. For example, how should DSA signatures be marked up? Is "appcast" a good name? Could hListing be used instead of hAtom? What's the best way to mark up version numbers? &hellip;</p>

	<p>If you're interested and would like to help out, check out the <a href="http://microformats.org/wiki/downloads-brainstorming" title="appcast microformat">appcast wiki page</a> and leave some feedback. (Also check out the <a href="irc://chat.freenode.net/#microformats">microformats IRC channel</a>; I'm usually there as well&mdash;look for ddfreyne.)</p>

	<p>The appcast microformat is still in its early stages, but I'm excited and confident that it'll end up being something great and really useful.</p>
</div>
