<p>Welcome to the Uru Chat Log Formatter, a tool for formatting Uru chat logs (surprise!). This log formatter has been tested quite a bit, so it should work just fine. If you do find a bug though, please do <a href="&#x6D;&#97;&#x69;&#108;&#116;&#x6F;:&#100;&#101;&#110;&#105;&#115;&#x2E;&#x64;&#101;&#x66;&#114;&#101;yn&#x65;&#64;s&#x74;&#111;&#x6E;&#101;&#115;&#x68;&#105;&#112;&#x2E;&#111;&#114;&#103;">let me know</a>!</p>

<div class="section" id="formatted-log" style="display:none">
	<h2>Formatted Log</h2>

	<pre class="wide" id="formatted-log-content">Idle.</pre>
</div>

<div class="section" id="format-a-log">
	<h2>Format A Log</h2>

	<form action="<%= @item.reps[0].path %>" method="post" accept-charset="utf-8">
		<p class="label"><label for="text">Log to be formatted:</label></p>
		<textarea name="text" id="text" rows="10" cols="100"></textarea>

		<p class="label"><label for="nicknames">Name(s) of person to highlight, comma-separated:</label></p>
		<input type="text" class="text" name="nicknames" id="nicknames">

		<p class="label">The way the log should be formatted:</p>
		<ul class="radio">
			<li>
				<input type="radio" name="type" id="type-bold-and-color" checked="checked" value="bold-and-color">
				<label for="type-bold-and-color">Bold all nicknames and color highlighted message.</label>
			</li>
			<li>
				<input type="radio" name="type" id="type-bold-only" value="bold-only">
				<label for="type-bold-only">Bold highlighted messages only; don't color.</label>
			</li>
		</ul>

		<p class="label"><label for="color">Color of highlighted nicknames (if applicable):</label></p>
		<select name="color" id="color">
			<option value="blue" selected="selected">Blue</option>
			<option value="red">Red</option>
			<option value="purple">Purple</option>
			<option value="orange">Orange</option>
			<option value="yellow">Yellow</option>
			<option value="gray">Gray</option>
			<option value="green">Green</option>
		</select>

		<p class="label">Click if you're ready:</p>
		<input type="button" id="button" value="Format That Log!">

		<script type="text/javascript">
			$(document).ready(function() {
				// Enable/disable color
				$('input[@name="type"]').change(function() {
					if($('input[@name="type"]:checked').val() == 'bold-and-color')
						$('#color').removeAttr('disabled');
					else
						$('#color').attr('disabled', 'disabled');
				});

				// Process
				$('#button').click(function() {
					// Show block
					$('#formatted-log-content').html('Processing...');
					$('#formatted-log').css('display', 'block');
					
					// Make log formatting request
					var values = {
						'text':      $('#text').val(),
						'type':      $('input[@name="type"]:checked').val(),
						'color':     $('#color').val(),
						'nicknames': $('#nicknames').val()
					};
					$.post('<%= @item.reps[0].path %>process.rhtml', values, function(data) {
						$('#formatted-log-content').html(data);
					})
				})
			});
		</script>
	</form>
</div>

<div class="section" id="version-history">
	<h2>Version History</h2>

	<div class="section" id="version-history-08-01-06">
		<h3>January 6th, 2008</h3>

		<ul>
			<li>Made the chat log formatter totally AJAXy Web 2.0.</li>
			<li>Improved responsiveness by delegating much responsibility to JavaScript.</li>
		</ul>
	</div>

	<div class="section" id="version-history-07-08-24">
		<h3>August 24th, 2007</h3>

		<ul>
			<li>Integrated the chat log formatter with my web site&mdash;easier to maintain that way.</li>
			<li>Nicknames are no longer case sensitive.</li>
		</ul>
	</div>

	<div class="section" id="version-history-07-06-28">
		<h3>June 28, 2007</h3>

		<ul>
			<li>Removed the ability to format as HTML. Nobody was using that anyway.</li>
			<li>Removed the ability to format chat logs without timestamps. Nobody was using that either.</li>
			<li>Actions are no longer highlighted, because they cannot be highlighted reliably. Also see note below.</li>
			<li>Double spaces or single spaces no longer matter.</li>
		</ul>
	</div>
</div>

<div class="section" id="highlighting-actions">
	<h3>Highlighting Actions</h3>

	<p>The formatter does not highlight actions anymore. The reason is because actions cannot reliably be highlighted. For example, the message <q>the amonre laughs</q> could be interpreted as a user &#8220;the&#8221; performing an action &#8220;amonre laughs&#8221;. The log formatter is not able to know that the user is actually named &#8220;the amonre&#8221; and that the performed action is &#8220;laughs&#8221;.</p>
</div>
