<p>For some weird reason, I've always been attracted to the beauty of <a href="http://mystonline.com/">Myst Online: Uru Live</a>. Here are a couple of recent screenshots I happen to like a lot.</p>

<p>Also check out <a href="/myst/">other Myst-related stuff</a> I have lying around.</p>

<p>Myst Online: Uru Live (TM) is the sole property of Cyan Worlds Inc. Copyright 2003 Cyan Worlds, Inc. All Rights reserved. Used with permission.</p>

<ul class="gallery">
	<li><a href="/media/images/uru/gallery/full/aegura_baronoffice_thend.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_baronoffice_thend.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_bridge.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_bridge.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_concert_hall_foyer_2.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_concert_hall_foyer_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_ferry_terminal.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_ferry_terminal.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_gallery_2.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_gallery_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_great_stair.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_great_stair.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_kahlopub_hiding.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_kahlopub_hiding.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_library_1.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_library_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_library_2.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_library_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_sutherland_point.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_sutherland_point.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_tokotah_alley.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_tokotah_alley.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_tokotah_courtyard.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_tokotah_courtyard.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_tokotah_rooftop_1.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_tokotah_rooftop_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/aegura_t_junction.jpg"><img src="/media/images/uru/gallery/thumbnails/aegura_t_junction.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/ahnonay_bahro_cave.jpg"><img src="/media/images/uru/gallery/thumbnails/ahnonay_bahro_cave.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/ahnonay_cathedral.jpg"><img src="/media/images/uru/gallery/thumbnails/ahnonay_cathedral.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/ahnonay_first_sphere.jpg"><img src="/media/images/uru/gallery/thumbnails/ahnonay_first_sphere.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/ahnonay_tunnel.jpg"><img src="/media/images/uru/gallery/thumbnails/ahnonay_tunnel.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/bevin.jpg"><img src="/media/images/uru/gallery/thumbnails/bevin.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/bevin_private_rooms_1.jpg"><img src="/media/images/uru/gallery/thumbnails/bevin_private_rooms_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/bevin_private_rooms_4.jpg"><img src="/media/images/uru/gallery/thumbnails/bevin_private_rooms_4.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/cleft_2.jpg"><img src="/media/images/uru/gallery/thumbnails/cleft_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/cleft_cave.jpg"><img src="/media/images/uru/gallery/thumbnails/cleft_cave.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/cleft_home.jpg"><img src="/media/images/uru/gallery/thumbnails/cleft_home.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/cleft_rain_1.jpg"><img src="/media/images/uru/gallery/thumbnails/cleft_rain_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/eder_delin_2.jpg"><img src="/media/images/uru/gallery/thumbnails/eder_delin_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/eder_delin_snow.jpg"><img src="/media/images/uru/gallery/thumbnails/eder_delin_snow.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/eder_gira_1.jpg"><img src="/media/images/uru/gallery/thumbnails/eder_gira_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/eder_gira_2.jpg"><img src="/media/images/uru/gallery/thumbnails/eder_gira_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/eder_gira_3.jpg"><img src="/media/images/uru/gallery/thumbnails/eder_gira_3.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/gahreesen.jpg"><img src="/media/images/uru/gallery/thumbnails/gahreesen.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/gahreesen_2.jpg"><img src="/media/images/uru/gallery/thumbnails/gahreesen_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/kadish_tolesa_4.jpg"><img src="/media/images/uru/gallery/thumbnails/kadish_tolesa_4.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/kemo_tour_1.jpg"><img src="/media/images/uru/gallery/thumbnails/kemo_tour_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/kemo_tour_3.jpg"><img src="/media/images/uru/gallery/thumbnails/kemo_tour_3.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/relto_2.jpg"><img src="/media/images/uru/gallery/thumbnails/relto_2.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/relto_clouds.jpg"><img src="/media/images/uru/gallery/thumbnails/relto_clouds.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/teledahn_feeder_1.jpg"><img src="/media/images/uru/gallery/thumbnails/teledahn_feeder_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/teledahn_hut_1.jpg"><img src="/media/images/uru/gallery/thumbnails/teledahn_hut_1.jpg"></a></li>
	<li><a href="/media/images/uru/gallery/full/teledahn_office_1.jpg"><img src="/media/images/uru/gallery/thumbnails/teledahn_office_1.jpg"></a></li>
</ul>
