<p>For some weird reason, I've always been attracted to the beauty of <a href="http://mystonline.com/">Myst Online: Uru Live</a>. Here are a couple of recent screenshots I happen to like a lot.</p>

<p><strong>Note:</strong> This gallery is a work in progress. Occasionally, new screenshots&mdash;err, photos&mdash;will be added, and old screenshots will be removed. This gallery will always contain very little or no spoilers at all.</p>

<p>Also check out <a href="/myst/">other Myst-related stuff</a> I have lying around.</p>

<div id="gallery" class="section">
	<h3>The Gallery <%= permalink('gallery') %></h3>

	<ul class="gallery">
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_baronoffice_thend.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_baronoffice_thend.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_bridge.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_bridge.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_concert_hall_foyer_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_concert_hall_foyer_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_ferry_terminal.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_ferry_terminal.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_gallery_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_gallery_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_great_stair.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_great_stair.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_kahlopub_hiding.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_kahlopub_hiding.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_library_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_library_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_library_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_library_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_sutherland_point.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_sutherland_point.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_tokotah_alley.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_tokotah_alley.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_tokotah_courtyard.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_tokotah_courtyard.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_tokotah_rooftop_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_tokotah_rooftop_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/aegura_t_junction.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/aegura_t_junction.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/bevin.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/bevin.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/bevin_private_rooms_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/bevin_private_rooms_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/bevin_private_rooms_4.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/bevin_private_rooms_4.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/cleft_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/cleft_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/cleft_cave.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/cleft_cave.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/cleft_home.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/cleft_home.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/cleft_rain_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/cleft_rain_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/eder_delin_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/eder_delin_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/eder_delin_snow.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/eder_delin_snow.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/eder_gira_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/eder_gira_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/eder_gira_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/eder_gira_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/eder_gira_3.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/eder_gira_3.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/gahreesen.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/gahreesen.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/gahreesen_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/gahreesen_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/kadish_tolesa_4.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/kadish_tolesa_4.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/kemo_tour_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/kemo_tour_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/kemo_tour_3.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/kemo_tour_3.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/relto_2.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/relto_2.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/relto_clouds.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/relto_clouds.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/teledahn_feeder_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/teledahn_feeder_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/teledahn_hut_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/teledahn_hut_1.jpg"></a></li>
		<li><a href="/pub/myst/uru/gallery/images/full/teledahn_office_1.jpg"><img src="/pub/myst/uru/gallery/images/thumbnails/teledahn_office_1.jpg"></a></li>
	</ul>
</div>

<div id="legal" class="section">
	<h3>Legal <%= permalink('legal') %></h3>

	<p>Myst Online: Uru Live (TM) is the sole property of Cyan Worlds Inc. Copyright 2003 Cyan Worlds, Inc. All Rights reserved. Used with permission.</p>
</div>
