* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 7pt;

	line-height: 1.5em;

	background: #fff;
}

strong {
	font-size: 0.9em;

	text-transform: uppercase;

	color: #6c9303;
}

/** ========== NAV ========== */

.nav {
	display: none;
}

/** ========== H1 ========== */

h1 {
	padding: 0.1em;
	margin-bottom: -1em;

	font-size: 5em;

	text-transform: lowercase;
	text-align: center;

	letter-spacing: 0.05em;

	line-height: 1em;
}

h1 a {
	display: block;

	padding: 0.5em 0;

	font-weight: normal;

	text-decoration: none;
	text-shadow: #fff 0 0 50px;
}

h1 a:link,
h1 a:visited {
	color: #333;
}

/** ========== ADS ========== */

#ads {
	display: none;
}

/** ========== MAIN ========== */

#main {
	margin: 0;
}

#main a {
	font-weight: bold;

	text-decoration: none;
}

#main a:link,
#main a:visited {
	color: #222;
}

/** ========== CONTENT ========== */

#content {
	margin: 0;
	padding: 0.8em 8em;
}

/** ----- headers ----- */

#content h2,
#content h3 {
	font-weight: normal;
	font-size: 1.5em;

	line-height: 1.2em;
}

#content h2 {
	margin:  2.4em -4em -1px -4em;

	border-bottom-width: 1px;
	border-bottom-style: solid;

	border-color: #666;

	color: #000;
}

#content h3 {
	margin:  1.2em -2em -1px -2em;

	clear: left;

	border-bottom-width: 1px;
	border-bottom-style: solid;

	border-color: #999;

	color: #666;
}

#content .section:target h3 {
	font-weight: bold;

	color: #6c9303;

	border-color: #6c9303;
}

/** ----- header permalink ----- */

#content h3 a.permalink {
	display: none;
}

/** ----- banners ----- */

#content .banner {
	margin: 2em 0;

	text-align: center;
}

#content .banner img {
	width: 43em;
	height: 10em;

	padding: 1em;
}

/** ----- text ----- */

#content p {
	margin: 1.5em 0;
	padding: 0;

	font-size: 1.2em;

	line-height: 1.5em;

	color: #222;
}

#content p.byline {
	color: #666;
}

#content p.byline .author-info {
	display: none;
}

#content .hreview .rating {
	font-family: "Hiragino Kaku Gothic Pro";
}

#content dl {
	margin: 1.5em 0;

	line-height: 1.5em;

	font-size: 1.2em;
}

#content dt {
	margin: 1.5em 0 0 0;

	color: #666;

	line-height: 1.5em;

	text-transform: uppercase;

	font-weight: bold;
}

#content dd {
	line-height: 1.5em;
}

#content ul {
	list-style-type: square;
}

#content ul.articles {
	margin: 1.5em 0;

	list-style-type: none;
}

#content ul,
#content ol {
	margin: 1.5em 0 1.5em 0.8em;

	list-style-position: inside;

	font-size: 1.2em;

	line-height: 1.5em;
}

#content ul ul,
#content ul ol,
#content ul dl,
#content ol ul,
#content ol ol,
#ocntent ol dl,
#content dl ul,
#content dl ol,
#content dl dl {
	margin-left: 2em;

	font-size: 1em;
}

#content dl ul,
#content dl ol {
	margin-top: 0;
	margin-left: 0.8em;
}

#content blockquote {
	margin: 0.6em 0 1.2em 0;
	padding: 0;

	background: #eee;
}

#content blockquote p {
	padding: 0.5em 0.5em;
	margin:  0.5em 0;
}

/** ----- code ----- */

#content pre {
	margin: 1em 0;
	padding: 1em;

	font-size: 8pt;

	line-height: 1.385em;

	background: #f6f6f6;
}

#content pre.output {
	background: #444;

	color: #3f3;

	border-color: #000;
}

#content code,
#content samp {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 8pt;
}

#content code .m {
	color: #f30;

	background-color: #ffc;
}

#content code .comment {
	color: #666;

	background-color: #ddd;
}

#content code .string {
	color: #093;

	background-color: #cec;
}

#content code .function {
	color: #24f;
}

#content code .storage {
	color: #f60;
}

#content code .variable {
	color: #a4a;
}

#content code .constant {
	color: #093;
}

#content code .keyword {
	color: #019;
}

/** ----- code (html) ----- */

#content code.html .element {
	color: #f60;
}

#content code.html .attribute {
	color: #019;
}

#content code.html .value {
	color: #093;
}

/** ----- chatlog ----- */

#content ol.interview {
	margin: 1.5em 0;
}

#content ol.interview li {
	list-style-type: none;

	background: #eee;
}

#content ol.interview li.message {
	margin: 1em 0;
	padding: 0.5em 1em;
}

#content ol.interview li.question {
	margin: 1em 0 0 0;
	padding: 0.5em 1em 0 1em;
}

#content ol.interview li.answer {
	margin: 0 0 1em 0;
	padding: 0 1em 0.5em 1em;
}

#content ol.interview li.middle {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#content ol.interview cite {
	font-size: 0.9em;
	font-weight: bold;
	font-style: normal;

	text-transform: uppercase;

	color: #6c9303;
}

#content ol.interview q:before,
#content ol.interview q:after {
	content: '';
}

/** ----- gallery ----- */

#content .gallery {
	margin: 1.5em -1em;
	background: #ccc;
}

#content .gallery li {
	margin: 1em;

	float: left;

	list-style-type: none;

	line-height: 1em;
}

#content .gallery li.del a {
	background: #943d12;
}

#content .gallery a {
	padding: 0.8em;

	float: left;

	background: #ddd;
}

#content .gallery a:hover {
	padding: 0.8em;

	float: left;

	background: #999;
}

#content .gallery img {
	width:  10em;
	height: 6.2em;

	border: 0;
}

/** ========== SIDEBAR ========== */

#sidebar {
	display: none;
}

/** ========== FOOTER ========== */

.footer {
	display: none;
}
