<p>This is a hierarchical overview of the entire Stoneship web site. Note that this list does not include my <a href="/blog/">old blog</a> (which is no longer maintained). If you can't find what you're looking for in the sitemap or on the old blog, it's probably not there anymore.</p>

<p><strong>To Do:</strong> Remove the link to the sitemap from the sitemap. Don't make Welcome To Stoneship the root. Sort journal articles by date.</p>

<%= print_sitemap(build_sitemap) %>
