<p>This Q&amp;A session/interview with Tim Larkin, Composer and Sound Designer at <a href="http://www.cyanworlds.com/">Cyan Worlds</a>, was held on January 16 2004.</p>

<div class="section" id="interview">
	<h3>The Interview</h3>

	<ol class="hchatlog interview">
		<li class="message question"><cite class="sender vcard"><span class="nickname">Jim</span></cite>: <q>What is your reaction at Uru being the only adventure game to win any award from Gamespot this year, and it's for music/sound effects?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I'm thrilled. Quite a bit of work went into the sound and I couldn't be happier that it was recognized. I think that Uru should have been in a few other categories as well though.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Jim</span></cite>: <q>What are some of the special problems or challenges with writing music on a Mac for a PC game?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>The only challenge is that I have to play the game on a PC&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. see <a href="http://www.apple.com/pro/audio/larkin/">www.apple.com/pro/audio/larkin</a> :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Jerle</span></cite>: <q>May I have your Porsche?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I promised CyanBill a ride and it wouldn't be right to get rid of the car before fulfilling my obligation to him, so I'm afraid I have to decline your very reasonable request at this time. Maybe Rand would be willing to give you his BMW???</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">foo22</span></cite>: <q>many people, including myself, think the Gallery song is one of the most amazing pieces of music they have ever heard.  Will there be more music in this style?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Yes absolutely. I'm anxious to get Tasha back in to sing again.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Rands</span></cite>: <q>What equipment/software do you normally use for music and sound production?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I'm using Digital Performer and Pro Tools primarily. Lots of plugins and sample libraries as well.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Cyd</span></cite>: <q>do you have a hand or say in the technical side of sounds?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Yes, ideas about how to implement and various features, that sort of thing, but most of that is done by others.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">randomos</span></cite>: <q>What is your creative process like?  Do you immerse yourself in the game visuals, or does your muse inspire you in a less direct process?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>It really varies. Sometimes I hear things immediately, sometimes it's a bit more painful.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kha'tie</span></cite>: <q>In the Making of Myst, we learned some of the interesting ways the sound effects were made.  Are there some similar bizarre tales of Uru sound effects?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Actually, in Riven there were some interesting stories, but not as much for Uru.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Aloys</span></cite>: <q>One of the great things of Uru is that you get to work on so different worlds, does that make you job more difficult?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>It really keeps things fresh, I enjoy coming at things with a constant new perspective. That's one of the cool things about the many different worlds that can be written. It allows for that much more diversity.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Deg</span></cite>: <q>Tim, what is your favourite sound effect that you have created? Follow up: How did you go about making it?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Actually some of the physics sounds were the most fun and rewarding, even though simple. I used my daughter to help me out with rolling rocks around in the basement while I recorded them. After they were implemented and tweeked, they came out working really well. There are also some interesting effects used for various doors. I used trombones in the Garrison traingin senter doors and pitched down tremelo strings for the vault door.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kha'tie</span></cite>: <q>Do you get lonely over in the North Building, now that most staff are working in the other building?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>zzzzzzzzzzzzzzzz, wow it's quiet over here. Did somebody say something? Actually it has it's pros and cons. I do like the quiet when I'm working on something, but it's also hard to stay on top of everything when you're somewhat remote. On the other hand, the voices in my head and 2 imaginery friends seem to keep me company most of the time.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Dusante</span></cite>: <q>Any plans to include more music artists in Uru like you did with Peter Gabriel?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>That's always a possibility, and I would enjoy it if we could.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Aodh</span></cite>: <q>Tim, do you ever play Uru live, and if so what name do you use?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>On occasion. I just use Tim. Maybe Nikral Mit???</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Dusante</span></cite>: <q>Would you be up for the challenge in creating an age mostly consisting of audio and musical puzzles?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I'd love to. It's been talked about, we'll see if it could work implementation wise. We're working on getting a few more music features in the engine, so it could be a good possibility.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">NoVah &amp; Dusante</span></cite>: <q>Will any future music have distinct words in it, for instance D'ni lyrics?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Probably not. I'm thinking that the D'ni had their fill of words in writing the ages.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Aloys</span></cite>: <q>Do you type on your computer keyboard as well as you do on your music keyboard?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Yies as uh matier ogf fahkt I du. Boy did you ever set me up for that one.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">nschlichtmann_gamenetworks</span></cite>: <q>Where did you get the impressions of making such interesting sound effects?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>The visuals almost always inspire the beginnings. From that point on, I try not to repeat myself and get creative.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Ubiq</span></cite>: <q>Have any examples of D'ni music been discovered during the restoration?  If so, what does D'ni music sound like?  If not, what do you think their music <em>would</em> sound like?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I think that D'ni music would have voice and percussion in common. Things that almost all cultures have in common. The D'ni were probably no exception.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Coren</span></cite>: <q>Uru's supposed to go on "forever". Will you stay with us till the end?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I'll be here as long as they will have me. :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Mysto</span></cite>: <q>Have you got any other projects? Maybe in cinema?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>There's a few things coming up in the near future. Stay tuned.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">malakh</span></cite>: <q>How was the sound effects of the Bahro created?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>That's a great question. If I told you though, you'd never hear them the same way. Maybe I'll release the secrets someday&hellip;</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Daedalus</span></cite>: <q>I have listened to the Uru Soundtrack (excellent by the way) and have noticed the Library Theme is very reminiscent of the Finale theme from Myst. Will we be hearing other music in D'ni that will 'take us back?'</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Thanks. That's interesting. That wasn't intentional, however there are a few pieces that are, for example the Baron's city office has a bit of Riven/Myst style of music there. In the future if there is a reason, then sure, but I'm not sure there would be very many.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Photious</span></cite>: <q>You mentioned that there have been discussions about creating an age based on sound/music.  What would be some of the unique difficulties to overcome in creating such an age?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Absolutely. I have friends that can't hold a tune in a paper bag. That would be tough for them.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">randomos</span></cite>: <q>Will there ever be a musical linking book?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I wouldn't think so. Not sure what rules that might break. Not sure how the union would fell about that either. :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kha'tie</span></cite>: <q>What is your favourite Uru Age thus far?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I'm pretty fond of the music and sounds in Kadish actually. The ambiance is subtle, and the music is one of my favorites in the vault. I love things that aren't in your face, and Kadish is that type of age. It's also very visually inspiring.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Dusante</span></cite>: <q>is there anything in Uru that didn't turn out like you wished it could?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>There are always things that could be done different, and I could tweak forever, but at some point, you have to let go.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Mysto</span></cite>: <q>Which instruments can you play?</q></li>
		<li class="message answer middle"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Been playing piano since age 4, and trumpet since the fourth grade. Have a permanent mark on my upper lip to prove it&hellip;</q></li>
		<li class="message question middle"><cite class="sender vcard"><span class="nickname">Kha'tie:</span></cite>: <q>I thought that was a moustache&hellip;</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>That's gone&hellip;</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Mysto</span></cite>: <q>You've worked in The Chubbchubb's project (very funny). What experience of sound design did you get in it?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>It was great experience, not only from a sound design perspective, but the post production is so different. I was also able to follow the film as it took on  a life of its own, It was exciting to say the least.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">mysty</span></cite>: <q>I love the 'feel' of Gahreesen, it has an "Andean" feel to it, was that your intent?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>It's another very visual age. Easy to hear what it should sound like by experiencing it. It just ended up sounding like it did after writing several pieces for it. That's just what came out. </q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Aloys</span></cite>: <q>Considering there are many more songs to come for Uru is there a possibility of seeing another Uru soundtrack done like you recently did?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>There is still quite a bit of unreleased music that I hope will warrant another soundtrack in the future.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname"><em>Many people</em></span></cite>: <q>Who are the main people that inspire you when working?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Everything inspires me. But as far as people, there are so many great composers to listen to. I think that one of my favorites would have to be Thomas Newman.  He's always creating something new in his scores. So many others seem to follow. I get inspired every time I hear something great, doesn't have to be a score.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">EyeDE</span></cite>: <q>Has it been harder to create music for Uru with the story being more passive?  (calm exploration)</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Not at all. The environments give me all the components that I need to start.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Cuirinus</span></cite>: <q>What good reasons can you give me/us for buying the soundtrack and not only listen to the OGG files in the game directory?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>There are a few bonus tracks that are only on the CD, as well as the interviews with Rand and myself, as well as the quality is much better. Great looking cover art for a collector too. It was mastered specifically for the soundtrack, which will sound a bit different than the ogg files. Hopefully better.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kha'tie</span></cite>: <q>Who did the cover art on the Uru Soundtrack?</q></li>
		<li class="message answer middle"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>E-Dog. Son of Rico&hellip;</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="nickname">Kha'tie</span></cite>: <q>*laughs*</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">TheAdmiral</span></cite>: <q>How much have the original Myst and Riven soundtracks influenced your work on URU? In what ways have you extended the themes and ideas set out there?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>They were a departure point for me rather than something to emulate. I think URU needed it's own personality.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">foo22</span></cite>: <q>There have been rumblings on a Myst mini-tv series.  If this was produced, would you want to do the music for it?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>If it happens, I'd love to have a part in it somehow. Not sure about an entire score, but at least some sort of musical role.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kawartha</span></cite>: <q>Would you consider collaborating with fans for an online D'ni activity soundtrack?  I can't be more specific at this time, but if a D'ni community were to plan something quite elaborate, would you consider helping out?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I think you'd have to be more specific&hellip; :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Graham</span></cite>: <q>Many modern composers use themes to represent ideas that are repeated through their works (John Williams is famous for it) - as Uru progresses do you anticipate developing your new and existing music and interpreting it for new pieces and situations?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Sure, I think that Yeesha has a theme that has already been repurposed throughout URU, and there's no reason that other themes shouldn't reappear. The Cleft theme also shows up in several places as well.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Photious</span></cite>: <q>Since URU is intended to be an ongoing project, do you find yourself composing themes without connection to any specific age or puzzle, but rather expanding upon what you have already produced?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Absolutely. I try not to repeat myself, repeat myself, soactually the idea of coming up with new material for the new ages is something I appreciate. In some cases, there is a need for what is already done, in which case, I'll use existing themes and expand on them.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Graham</span></cite>: <q>Certain instruments have historically been used to represent very specific associations with good and evil, heaven and hell (every time I hear a wicked trombone I fear for my soul) - Are there particular instruments you think of and use when trying to evoke particular feelings? Which instruments for which emotions?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I use textures more than instruments to represent emotions, although I tend to use various instruments to represent the culture, or an individual.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">foo22</span></cite>: <q>It was a nice touch having the first 3 pieces heard in Uru replayed at the end.  As the journey is now circular, will we be hearing them again?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>I'm not sure about that one. We'll see how things develope.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kawartha</span></cite>: <q>Okay, being slightly more specific, if one of the current offshoots of D'ni, the Greeters or the other Guilds, came to you with an idea for an online activity and musical theme to accompany it, would you consider assisting with the theme?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>It's a possibility.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Dusante</span></cite>: <q>There are rumors of a "personal music player" in the game can you enlighten us on any of this?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Well, it's been talked about, I'm not sure of the final outcome however.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Graham</span></cite>: <q>What are the chances of getting you to autograph a copy of the soundtrack?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Just put in a request when you order the CD, and I'd be happy to sign it.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Dusante</span></cite>: <q>How much unreleased uru music is ready to be released for future areas and ages?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>There's actually quite a bit. Just waiting for the final ages to be finished and ready to explore. Or rather the ages to be final. That's my dyslexia acting again up&hellip;</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Kha'tie</span></cite>: <q>Tim, can you tell us the story behind the theme?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Tim Larkin</span></cite>: <q>Actually, the woman singing is the wife of the Guy that's dead in the Vault. He loved opera. She's singing to him as a call as D'ni falls. He's lying beside his riches, afraid to leave them. So his wife dies in D'ni alone, he died in the vault, alone. There you have it.</q></li>
	</ol>
</div>
