<p>As of yesterday, <a href="http://feeds.feedburner.com/stoneship">Stoneship's feed</a> includes both blog articles and <a href="http://del.icio.us">del.icio.us</a>-powered sidebar links. The new feed is powered by <a href="http://pipes.yahoo.com/pipes/">Yahoo! Pipes</a>&mdash;something I've always wanted to use for Serious Business.</p>

<p><del>Articles are prefixed with an asterisk (*), while sidebar links don't have a prefix. Hmm&mdash;how very <a href="http://daringfireball.net/">Daring Fireball</a>-ish.</del> Articles no longer have a prefix, and del.icio.us links are identified by "[link]" now.</p>

<p>Also, if you <em>really</em> hate having my sidebar links in the feed, you can subscribe to the new <a href="http://feeds.feedburner.com/stoneship_blog">blog-only feed</a>.</p>
