---
title:     "<?php if($is_gone) { ?>Page Is Gone<?php } else { ?>Page Not Found<?php } ?>"
is_hidden: "true"
---

<?php

########## CONFIGURATION #####################################################

// E-mail settings
$src_email_address = 'webmaster@stoneship.org';
$dst_email_address = 'denis.defreyne@stoneship.org';

// The name of the site
$site_name = 'Stoneship';

// Send HTTP status code 410s or simply 404s?
$send_410s = false;

// Should a mail be sent if the requested page is gone?
$send_mail_if_gone        = false;

// Should a mail be sent if there is no referrer?
$send_mail_if_no_referrer = false;

// The list of pages that are considered "gone"
$gone_pages = array(
	'@^/blog(/.*$|$)@',
    '@^/pub/music/Denis?@',
    '@^/journal/2005/?@',
    '@^/journal/2006/?@',
    '@^/journal/2007/?@',
    '@^/journal/2008/?@',
    '@^/journal/2009/?@',
    '@^/journal/2005/using-a-nsoutlineview-as-a-source-list/?@',
    '@^/journal/2006/dont-ban-browsers/?@',
    '@^/journal/2006/dream-on/?@',
    '@^/journal/2006/happy-new-year/?@',
    '@^/journal/2006/im-back/?@',
    '@^/journal/2006/meaningful-markup/?@',
    '@^/journal/2007/a-better-filesystem-layout/?@',
    '@^/journal/2007/a-c-function-pointer-example/?@',
    '@^/journal/2007/alurio-is-dead/?@',
    '@^/journal/2007/a-new-cam/?@',
    '@^/journal/2007/birthday/?@',
    '@^/journal/2007/bloatware-ad/?@',
    '@^/journal/2007/css-transformations/?@',
    '@^/journal/2007/cyantist/?@',
    '@^/journal/2007/from-rails-back-to-php/?@',
    '@^/journal/2007/hatom-support-for-sparkle/?@',
    '@^/journal/2007/html5-sucks/?@',
    '@^/journal/2007/introducing-nanoc/?@',
    '@^/journal/2007/marked-up/?@',
    '@^/journal/2007/myst-blogs-uru-blogs-20/?@',
    '@^/journal/2007/presentational-elements-underrated/?@',
    '@^/journal/2007/static/?@',
    '@^/journal/2007/stoneships-combined-feed/?@',
    '@^/journal/2007/thoughts-on-sparkle/?@',
    '@^/journal/2007/uru-photography/?@',
    '@^/journal/2008/comments/?@',
    '@^/journal/2008/css-s-relative-units-suck/?@',
    '@^/journal/2008/exciting-times-for-nanoc/?@',
    '@^/journal/2008/index.html/?@',
    '@^/journal/2008/minimal-earth/?@',
    '@^/journal/2008/monet/?@',
    '@^/journal/2008/on-using-english-in-flanders/?@',
    '@^/journal/2008/relative-font-sizes-suck/?@',
    '@^/journal/2008/renaming-internet-explorer/?@',
    '@^/journal/2008/what-i-dont-like-about-ruby/?@',
    '@^/journal/2009/adsf/?@',
    '@^/journal/2009/comments-on-comments-on-zeldmans-xhtml-wtf/?@',
    '@^/journal/?@',
    '@^/old/myst/?@',
    '@^/old/myst/uru_chat_log_formatter/?@',
    '@^/old/myst/uru_gallery/?@',
    '@^/old/software/?@',
    '@^/old/software/yaccc/?@',
    '@^/old/webdesign/?@',
    '@^/old/?@'
);

########## DO NOT CHANGE BELOW THIS LINE #####################################

// Get path and URL of this page
$this_path = $_SERVER['REQUEST_URI'];
$this_url  = 'http://' . $_SERVER['SERVER_NAME'] . $this_path;

// Check whether the page existed before
$is_gone = false;
foreach($gone_pages as $gone_page)
{
	if(preg_match($gone_page, $this_path) > 0)
	{
		$is_gone = true;
		break;
	}
}

// Check whether page has referrer
$has_referrer = isset($_SERVER['HTTP_REFERER']);

// Send mail if necessary
$should_send_mail = true;
if($is_gone && !$send_mail_if_gone)
	$should_send_mail = false;
else if(!$has_referrer && !$send_mail_if_no_referrer)
	$should_send_mail = false;
if($should_send_mail)
{
	$subject = '404 @ ' . $site_name . ': ' . $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI'];
	$message = 'The following URL caused a 404 error on ' . $site_name . ':' . "\n\n" .
		'URL:      ' . 'http://' . $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI'] . "\n" .
		'Referrer: ' . $_SERVER['HTTP_REFERER'];
	$headers = 'From: ' . $src_email_address;

	mail($dst_email_address, $subject, $message, $headers);
}

// Serve correct HTTP status code
if($is_gone && $send_410s)
	header('HTTP/1.1 410 Gone');
else
	header('HTTP/1.1 404 Not Found');

?><% render '/default.erb' do %>
    <% render '/page.erb' do %>

<?php if($is_gone) { ?>
<p>Unfortunately, the page you requested, <?php echo $this_url; ?>, has been removed and is thus no longer available on this web site.</p>
<?php } else { ?>
<p>Unfortunately, the page you requested, <?php echo $this_url; ?>, was not found on this website. If you typed the address in manually, please double-check it to make sure it is correct. You may also want to take a look at the <a href="/sitemap/">site map</a> to find what you're looking for.</p>
<?php } ?>

    <% end %>
<% end %>
