<% article = sorted_articles.first %>

<p>Stoneship is the personal web site of Denis Defreyne, a 23-year old student, web designer and developer from Scheldewindeke, Belgium.</p>

<p><strong>Hire me!</strong> I am looking for a summer student job in Ghent, Belgium from July to August. I have experience with Ruby and Ruby on Rails, and I've also done some Cocoa development on Mac OS X. See <a href="http://www.linkedin.com/in/ddfreyne" title="Denis Defreyne's LinkedIn" rel="me">my LinkedIn</a> and <a href="/software/">my software page</a> for details. Contact me at <i>denis dot defreyne at this domain</i> if you're interested.</p>

<p>Here's the latest journal entry I've written, for you to read:</p>

<!-- latest article -->
<div class="section">
	<h2><%= article[:title] %></h2>

	<%= render('meta', :article => article) %>

	<%= article.reps[0].content_at_snapshot(:pre).indent(4) %>

	<p><a rel="bookmark" href="<%= article.reps[0].path %>" title="Permanent link to this article">Permanent link to this article</a></p>
</div>
<!-- /latest article -->
