---
title:       "Welcome to Stoneship"
short_title: "Home"
---

<% article = sorted_articles.first %>

<p>Stoneship is the personal web site of Denis Defreyne, a 24-year old recently graduated student with a passion for developing applications from Scheldewindeke, Belgium. Check out my <a href="/about/">about page</a> if you want to know more.</p>
