<% article = sorted_articles.first %>

<p>Stoneship is the personal web site of Denis Defreyne, a 23-year old student, web designer and developer from Scheldewindeke, Belgium.</p>

<p>Here's the latest journal entry I've written, for you to read:</p>

<!-- latest article -->
<div class="section">
	<h2><%= article[:title] %></h2>

	<%= render('meta', :article => article) %>

	<%= demote_headers(article.reps[0].content_at_snapshot(:pre).indent(4)) %>

	<p><a rel="bookmark" href="<%= article.reps[0].path %>" title="Permanent link to this article">Permanent link to this article</a></p>
</div>
<!-- /latest article -->
