---
title:       "Welcome to Stoneship"
short_title: "Home"
---

<p>Hi! I'm Denis Defreyne, 26 years old, and I have a passion for software development. You may know me from projects such as <a href="http://nanoc.stoneship.org/">nanoc</a> or from my past involvement in the Myst community. Check out my <a href="/about/">about page</a> if you want to know more.</p>

<% item = latest_item %>
<div class="section">
	<h2><%= item[:title] %></h2>
    <p class="meta">Written on <%= format_date(item[:published_on]) %></p>
	<p><%= item[:excerpt] %> <a rel="bookmark" href="<%= item.path %>" title="Permanent link to this article">Read more</a>.</p>
</div>
