---
title: "Reviews"
quick_reviews:
  game:
    "Avernum 1": 4
    "Batman: Arkham Asylum": 4
    "Bioshock": 4
    "DarkStar One": 3
    "Dead Island": 3
    "Dragon Age": 5
    "Geneforge": 4
    "Half Life 2": 5
    "Left 4 Dead": 4
    "Left 4 Dead 2": 5
    "Machinarium": 5
    "Max Payne II: The Fall of Max Payne": 5
    "Max Payne": 4
    "Minecraft": 3
    "Portal 2": 4
    "Portal": 5
    "Psychonauts": 5
    "Stacking": 4
    "The Witcher 2": 4
    "The Witcher": 4
  movie:
    "Argo": 5
    "Blade Runner": 5
    "Ghost in the Shell 2: Innocense": 4
    "Ghost in the Shell": 4
    "Life of Pi": 3
    "Princess Mononoke": 4
    "Shutter Island": 5
    "Spirited Away": 5
    "Sunset Boulevard": 4
    "Sweeney Todd: The Demon Barber of Fleet Street": 5
    "The Hobbit": 3
    "The Illusionist": 5
    "The Prestige": 4
    "Time Bandits": 3
    "Total Recall": 4
    "Zardoz": 3
---

<p>Here’s the list of stuff that I’ve reviewed. I intend to keep this up to date when possible; whenever I find something that’s worth (or perhaps not worth at all) watching, playing or using, I’ll put it in this list. I won’t be reviewing music, because <a href="http://www.last.fm/user/amonre">my Last.fm profile</a> should already be enough to give you an idea of what I think is good.</p>

<% @item.children.map { |c| c[:subtype] }.uniq.sort.each do |subtype| %>

<h2><%= subtype.capitalize %>s</h2>

<ul class="ratings">
<% @item.children.select { |c| c[:subtype] == subtype }.sort_by { |i| i[:title] }.each do |review| %>
    <li><span class="rating"><%= rating_stars_for(review) %></span> <%= review.path ? link_to(review[:title], review) : h(review[:title]) %></li>
<% end %>
</ul>

<% end %>
