<p>This is a selection of more or less recent web design and development work I've done in the past months or years.</p>

<div class="section section-first" id="nanoc-site">
	<h2>nanoc site</h2>

	<div class="banner banner-wide"><a href="http://nanoc.stoneship.org/" title="nanoc web site"><img src="/assets/images/banners/nanoc-site.png" alt="nanoc site"></a></div>

	<p>This web site is for nanoc, a web publishing system written in Ruby for managing static web sites. The site, as well as the Stoneship site, are both managed using nanoc.</p>

	<p>Designed and programmed by me. Completed spring 2009.</p>
</div>

<div class="section" id="myst-blogs-and-uru-blogs">
	<h2>Myst Blogs &amp; Uru Blogs</h2>

	<div class="banner banner-wide"><a href="http://mystblogs.com/"><img src="/assets/images/banners/mublogs.png" alt="Myst Blogs/Uru Blogs site"></a></div>

	<p><a href="http://mystblogs.com/">Myst Blogs</a> and <a href="http://urublogs.com/">Uru Blogs</a> gather blog posts of Myst fans and Uru explorers in a central place. The latest redesign, done with <a href="http://grey-skies.net/" title="Keith Lord" rel="friend">Tweek</a> and me, gave Myst Blogs and Uru Blogs a cleaner, unified design.</p>

	<p>Designed by Keith Lord and me; programmed by me. Completed spring 2007.</p>
</div>

<div class="section" id="uruvote">
	<h2>UruVote</h2>

	<div class="banner banner-wide"><a href="http://uruvote.stoneship.org/"><img src="/assets/images/banners/uruvote.png" alt="UruVote site"></a></div>

	<p>I was asked to design and code a web site for the Uru-related DRC Liaision elections, and I created <a href="http://uruvote.stoneship.org/">UruVote</a>. Both the design and the implementation were done in a very short time period.</p>

	<p>Designed and programmed by me. Completed fall 2006.</p>
</div>

<div class="section" id="euromysterium">
	<h2>EuroMysterium</h2>

	<div class="banner banner-wide"><a href="http://euromysterium.stoneship.org/"><img src="/assets/images/banners/euromysterium.png" alt="EuroMysterium site"></a></div>

	<p>I was contacted by several European Myst fans asking me to design a web site for a European Mysterium, and the <a href="http://euromysterium.stoneship.org/">EuroMysterium site</a> was born.</p>

	<p>Designed and programmed by me. Completed spring 2005.</p>
</div>
