<p>This interview with Bill Slease, Live Content Director at <a href="http://www.cyanworlds.com/">Cyan Worlds</a>, was held on June 24 2004.</p>

<div id="interview" class="section">
	<h3>The Interview</h3>

	<ol class="hchatlog interview">
		<li class="message question"><cite class="sender vcard"><span class="nickname">Foo</span></cite>: <q>For those who don&#8217;t know already, what was your role in the development of Uru? What is your role now in the development of Something Else &#8482;? Are they similar, or is there a different feel to working on a different project?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I had 3 different credits in Uru - but mainly for live I was the live content director. For Ages Beyond Myst I was &#8220;technical game design.&#8221; On The Path of the Shell I ended up &#8220;producer&#8221; which means I, um, worked with all the produce. I&#8217;m partial to bananas.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Hastin</span></cite>: <q>What do you think the best new thing about path of the shell is?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Wow there&#8217;s so much to choose from&#8230; In some ways it&#8217;s a return to things I think we do best&#8230; puzzles that require more thinking than maneuvering. But we still added features like swimming that enhance exploration. Ahnonay should be a real challenge. It would be for me. I&#8217;m looking forward to how you all handle it :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">athena510</span></cite>: <q>Will there be any Uru in Something Else?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I can&#8217;t say much about it right now.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Aloys</span></cite>: <q>Now that Uru will soon be &#8216;over&#8217;, how do you look back at it?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Well, I&#8217;m sleeping more now. Boy we wanted that to work out so much&#8230; we&#8217;re still all just processing it all. I think it&#8217;ll be a wound that needs tending for quite some time.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Deg</span></cite>: <q>Bill, do you plan to attend Mysterium this year?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Unfortunately I won&#8217;t be able to make Mysterium this year :(</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">spokanejeremy</span></cite>: <q>Bill, how long have you been with the Myst project, and how does it feel working on what has become such a large project?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I came to Cyan in 1999&#8230; so almost 5 years now. I&#8217;ve learned tons in that time and worked on all different parts of a few different projects. It feels good where we&#8217;ve arrived at now despite the hard road getting here.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">mszv1</span></cite>: <q>On the difficulty of the new puzzles. You said they were hard. The trend in adventure games seems to be going in the opposite direction - easier puzzles. Any comments?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>We&#8217;re all about selling hint books. :) Just kidding&#8230; honestly we thought that with an expansion pack like this we could take some liberties and make something to really challenge folks.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Gadren</span></cite>: <q>Can you enlighten us any more regarding your recent blog post?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Heh. Recently it seems like I come in and everyday see something new and cool. What we&#8217;ve got going now looks better if you can believe it than Uru. And it has a feel&#8230; We&#8217;re tapping back into something I think we may not have fully been working with on Uru. I think that&#8217;s all I can say. It feels right.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">BlackRaven</span></cite>: <q>How large do you think the fan community for Something Else &#8482; will be if you compare it with the fan community for Uru and why?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I think it will be bigger because of people like all of you and Katie and Ron. Either that or it won&#8217;t. It could also be very much the same. [I wouldn&#8217;t make a very good prophet - or maybe I&#8217;d make a good one - I can never tell.]</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">AoW</span></cite>: <q>If Myst were made today, with today&#8217;s technology and audience do you think it would have been handled differently?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>RealMYST was a shot at that. I don&#8217;t know if 2000 counts as &#8216;today&#8230; &#8216; There were alot of unique factors that came together to make Myst what it is. If we could bottle that, we&#8217;d sell it&#8230; wait&#8230;</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Eleri</span></cite>: <q>What can we, the fans, do to support you guys?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>We have a meeting every morning with Rand, Tony, Josh, etcetera - I was thinking of reading a fan letter at every one of those to keep people excited&#8230; If you want me to read something email me at slease AT cyan DOT com. [I must be insane - did I type that out loud.]</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Jerle</span></cite>: <q>My only question is to ask Bill if he&#8217;s finally gotten to drive Tim&#8217;s Porsche yet. ;)</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>No. *grumble*</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">TheM1-4</span></cite>: <q>Bill do you know when we might start seeing some marketing/previews for Something Else &#8482;?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I don&#8217;t know any dates - I do know that you&#8217;ll see Something Else come to light in a much shorter time than we usually take&#8230;</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">chip</span></cite>: <q>What is your favorite place to eat lunch in Spokane and why?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I&#8217;m lame - I like to eat lunch in my office. The service is miserable but the price is right.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Deg</span></cite>: <q>Do you prefer working on prerendered or realtime 3d games?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>realtime 3d without a doubt (course I never worked on the prerendered games). Realtime is so&#8230; dynamic&#8211;you can really bring places alive.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">tokzic</span></cite>: <q>What games/projects, outside of Cyan Worlds, pique your interest these days?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I&#8217;ve been poking around the World of Warcraft beta&#8230; They&#8217;re doing alot of things very well and doing a fantastic job running their beta.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">spokanejeremy</span></cite>: <q>Have you guys had to travel to places other than Spokane for further &#8220;inspiration&#8221; for the games?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>In Terry Brooks&#8217;s book about writing he said &#8220;Go somewhere you&#8217;ve never been then come back and tell us all about it.&#8221; He was talking about imagination, but we do also travel for inspiration&#8230; haven&#8217;t done that recently as a company. But individuals will go places and bring inspiring stuff.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Eleri</span></cite>: <q>How do you feel working for Cyan has changed you?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>It&#8217;s made me older&#8230; one day at a time&#8230; um, but seriously&#8230; there is no seriously sorry&#8230; I&#8217;m not sure I&#8217;ve changed in ways I wouldn&#8217;t have any way&#8230; it&#8217;s a great place to work - full of talent and creativity.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Foo</span></cite>: <q>Have you played Revelation yet, or are you looking forward to it?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>I haven&#8217;t seen anything other than the E3 demo that looked really good - we&#8217;re all eagerly awaiting it here :)</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">TheM1-</span></cite>: <q>Can you tell us anything about what Ages are in The Path of the Shell?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>The two big Ages are Ahnonay and Er&#8217;cana. There are other places to go that are cool and that you folks of all people should really enjoy seeing.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">JBrigsMcAndrews</span></cite>: <q>What will happen to the unreleased ages and areas designed for Uru Live?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>That&#8217;s hard to say. TPoTS is the end of what was really &#8220;ready to go&#8221;. Over the years we&#8217;ve built up basements full of ideas&#8230; They all just kind of hang out there.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Linkingbookmaster</span></cite>: <q>Will there be any beta testers for Revelation?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="nickname">Kha&#8217;tie</span></cite>: <q>There already have been. There won&#8217;t be a public beta.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">BlackRaven</span></cite>: <q>(for Eric L) Is there anything we can do to help The Path of the Shell get a good start?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>You&#8217;re already doing a great job, keep doing things like you have been (the demo cd, the participation at mystworlds etcetera). But it wouldn&#8217;t hurt to purchase prime time commercial space for oh a month or two and produce a 60 second commercial&#8230; just throwing that out. You know, in case no one&#8217;s thought of it.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">MYSTeriousSage (and many others)</span></cite>: <q>Is Negilahn or Noloben in TPotS?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>this is where I think of some clever way to say &#8220;no&#8221; that makes you still wonder if they&#8217;re there. Neg and Nol didn&#8217;t make the cut.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Foo</span></cite>: <q>What is the meaning of life?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Not sure about life specifically&#8230; but life, the universe and everything is of course 42.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">BobFM</span></cite>: <q>What do you think makes a good adventure game?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Me personally? Places I want to explore filled with epiphanies that are well-paced.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Eleri1</span></cite>: <q>What do you think of the fans&#8217; marketing efforts?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>You all are GREAT!</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">TheM1-</span></cite>: <q>How good is Rand at DDR?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Bob is good at DDR. Good in a way that precludes just about anyone else in the world from being good at DDR. Bob will hate me for describing it like this but it&#8217;s like tetris that you play with you&#8217;re feet&#8230; to music.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">Ian-Atrus</span></cite>: <q>Is there a chance for The Book of Marrim to get published now that Uru has been published and the other books have been reprinted?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>The book of Marrim is&#8230; the same place it was yesterday&#8230; and the day before that. It hasn&#8217;t moved in a while&#8230;</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">mganus</span></cite>: <q>Can you give us an idea of where Cyan is going with the D&#8217;ni? Will the story continue through it&#8217;s creators?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>Rawa has instructed me to respond &#8220;no&#8221; and &#8220;yes&#8221;.</q></li>

		<li class="message question"><cite class="sender vcard"><span class="nickname">JBrigsMcAndrews</span></cite>: <q>Why aren&#8217;t the linking books in Uru animated?</q></li>
		<li class="message answer"><cite class="sender vcard"><span class="fn">Bill Slease</span></cite>: <q>In the beginning - there were some technical issues&#8230;and just rendered movies wouldn&#8217;t have portrayed the Ages correclty. as dyanmic (esp. in live) as they are.</q></li>

		<li class="message"><cite class="sender vcard"><span class="nickname">Kha&#8217;tie</span></cite>: <q>I want to thank Bill for coming and taking his time to answer so many GREAT questions! Thanks to all who attended and asked these cool things. Also SPECIAL THANKS to Chucker who set this chatroom up in a VERY short time for us today! Also very big thanks to our Moderators Kehrin, Deg, mszv, and Randomos for their question-taking abilities extraordinaire! The chat transcript will be available on the MystWorlds.com site by tomorrow. See you all again soon!</q></li>
	</ol>
</div>
