---
title: "Old Stuff"
---

<p>Content ages and eventually becomes obsolete. This section of my site contains old files that have lost most of their relevance, but it may still be useful to you. Here’s what’s in this section:</p>

<ul>
<%= html_sitemap_for(item) %>
</ul>
