<p>I am in love with my homegrown CMS. Having my entire site only a mouse click away is extremely useful. Not having to use a web interface nor an FTP client to work on my site is a blessing.</p>

<p>Partially because of that, the markup of this site has undergone quite a bit of markup and design changes. I'll make a quick list notable changes, hoping that others may find it useful.</p>

<div id="baselined" class="section">
	<h3>Baselined</h3>

	<p>Stoneship's grid is now much more visible, due to a technique explained in a recent <a href="http://www.alistapart.com/">A List Apart</a> article titled <a href="http://www.alistapart.com/articles/settingtypeontheweb">Setting Type on the Web to a Baseline Grid</a>. (Oddly enough, the article was published <em>after</em> I applied the very same technique.)</p>

	<p>In short, Stoneship now looks as if it's written on lined paper, without the lines. The text on the site now has a certain "rhythm" (hard to explain, really) which makes my site tidier and easier to read.</p>
</div>

<div id="permalinks" class="section">
	<h3>Permalinks</h3>

	<p>Every journal entry now has a little hash link (#) next to its paragraph of metadata near the top of the article. This is the permalink for this article.</p>

	<p>Every sub-heading (such as the "Permalinks" one right above this line) now contains a permalink for the section it belongs to. Move your cursor over the header, and the permalink-hash will pop up.</p>

	<p>Worth noting is that both kinds of permalinks are marked up with the <a href="http://microformats.org/wiki/rel-design-pattern#rel.3D.22bookmark.22">bookmark-rel attribute</a>&mdash;which brings me to the next section&hellip;</p>
</div>

<div id="microformats" class="section">
	<h3>Microformats</h3>

	<p>This site now uses <a href="http://microformats.org/">microformats</a> everywhere. The <a href="/about/">about page</a> has a hCard; all journal entries are <code>rel="tag"</code>ed; the <a href="/myst/">Myst page</a> has a few hReviews; all pages are <code>rel="license"</code>d; etcetera.</p>

	<p>One common question that keeps popping up, is <q>What can you do with microformats, exactly?</q>. Well, you'll need a browser or a plugin that supports them. For example, the excellent <a href="http://labs.mozilla.com/2006/12/introducing-operator">Operator</a> extension for Firefox lets you to add hCards directly to your address book, search for photos/links/articles with the same tags as the page you are on, view a map of locations described on the page, and more.</p>

	<p>Browsers are slowly getting support for microformats as well. For example, Firefox 3 is getting <a href="http://wiki.mozilla.org/Firefox3/Firefox_Requirements_Meetings/Content_Handling" title="native microformats support in Firefox 3">native support</a>.</p>

	<p>By the way, I'm considering buying the <a href="http://microformatique.com/book/">microformats book</a>.</p>
</div>

<div id="an-interview-microformat" class="section">
	<h3>An Interview Microformat</h3>

	<p>The Myst section on this site has a few <a href="/myst/#interviews">interviews</a> whose markup I have been wanting to improve for a long time. <code>p</code>, <code>br</code> and <code>strong</code> elements may be valid HTML strict, but they are not particularly semantically meaningful.</p>

	<p>I've been following a <a href="http://microformats.org/wiki/chat-brainstorming">discussion about chatlog microformats</a> for a while, and I decided to use the proposed chatlog microformat as a base for an interview one. The <code>li</code> elements now has two more classes: <code>question</code> and <code>answer</code>, used for marking up questions and answers. The enclosing <code>ol</code> element also has a new <code>interview</code> class.</p>

	<p>I interviewed nobody else than the Fake Tantek for the sole purpose of creating the following interview-microformatted HTML:</p>

	<pre class="wide"><code class="html">&lt;<span class="element">ol</span> <span class="attribute">class</span>=<span class="value">"hchatlog interview"</span>&gt;
  &lt;<span class="element">li</span> <span class="attribute">class</span>=<span class="value">"message question"</span>&gt;
    &lt;<span class="element">cite</span> <span class="attribute">class</span>=<span class="value">"sender vcard"</span>&gt;&lt;<span class="element">span</span> <span class="attribute">class</span>=<span class="value">"nickname"</span>&gt;ddfreyne&lt;/<span class="element">span</span>&gt;&lt;/<span class="element">cite</span>&gt;:
    &lt;<span class="element">q</span>&gt;What do you think about microformats?&lt;/<span class="element">q</span>&gt;
  &lt;/<span class="element">li</span>&gt;
  &lt;<span class="element">li</span> <span class="attribute">class</span>=<span class="value">"message answer"</span>&gt;
    &lt;<span class="element">cite</span> <span class="attribute">class</span>=<span class="value">"sender vcard"</span>&gt;&lt;<span class="element">span</span> <span class="attribute">class</span>=<span class="value">"fn"</span>&gt;Fake Tantek&lt;/<span class="element">span</span>&gt;&lt;/<span class="element">cite</span>&gt;:
    &lt;<span class="element">q</span>&gt;They are awesomely great!&lt;/<span class="element">q</span>&gt;
  &lt;/<span class="element">li</span>&gt;
&lt;/<span class="element">ol</span>&gt;</code></pre>

	<p>I'm quite happy with this slightly altered format. It's worth noting that this format is very easy to style&mdash;I've never been quite happy with the way the interviews were marked up and styled, until now.</p>

	<p>I'll be looking for some feedback on this microformat variant in the next few days.</p>
</div>

<div id="html5" class="section">
	<h3>HTML5</h3>

	<p>I am tired of the seemingly endless HTML-versus-XHTML debate. I've tried many times to build this site in XHTML (serving as <code>application/xhtml+xml</code> where possible, otherwise translating the XHTML to HTML and serving as <code>text/html</code>) but that's just annoying and slow. Besides, no matter what you do, most browsers will still simply see your site as HTML, and not as XHTML.</p>

	<p>So, my site is now HTML instead, served as <code>text/html</code>. No more headaches.</p>

	<p>Stoneship uses <a href="http://www.whatwg.org/specs/web-apps/current-work/">HTML5</a>, to be precise. HTML5 is not a standard, it is not widely adopted, and there's virtually no browser support yet. It is still usable, though, because HTML5, unlike <a href="http://www.w3.org/TR/xhtml2/" rev="vote-against">XHTML2</a>, is backward compatible: a HTML4 document can be a HTML5 one with very little changes (changing the doctype should suffice in most cases).</p>

	<p>HTML5 defines useful new elements such as <code>section</code>, <code>article</code> and <code>nav</code>, but most browsers choke on these, due to their non-existent support for HTML5. In the mean time, I'll stick with <code>div</code>'s with <code>class="section"</code>, <code>class="article"</code>, <code>class="nav"</code> and so on.</p>
</div>

<div id="join-me" class="section">
	<h3>Join Me (And Together We Can Rule The Web)</h3>

	<p>These recent changes on Stoneship are a big step towards an (even) cleaner and more usable site. Stoneship is never "finished" though, so I'll continually be updating my site, adding and updating microformats.</p>

	<p>I predict that many people will start using microformats actively soon. Take a step and add some microformats to your own site. I recommend <a href="http://microformats.org/wiki/rel-license">rel-license</a> as well as <a href="http://microformats.org/wiki/hcard">hCard</a>, since those are very easy to add to an existing site, and because there simply already is <a href="http://microformats.org/wiki/hcard-implementations" title="hCard implementations">a lot of support</a> for hCard.</p>

	<p>If you do that, I'll add you to my address book. Using your hCard, of course.</p>
</div>
