<p>Some people kept telling me I should never have stopped blogging. They said Stoneship would become just another boring web site that wasn't worth visiting simply because of its dull, static, never-changing content.</p>

<p>I didn't pay much attention to these complaints&mdash;after all, change is never easily accepted. I set up a small linklog, just to have at least some regularly updated content anyway.</p>

<p>But the complaints kept coming, and after a while I realised there really wasn't much point in maintaining Stoneship without regularly adding content. A linklog just isn't enough.</p>

<p>So, I took a deep breath, ditched my silly little nPages CMS, replaced it with <a href="http://textpattern.com/">TextPattern</a>, and set up a fresh blog, which I enjoy calling the Stoneship Journal.</p>

<p>The Stoneship Journal will be a blog about programming. It'll be about C, Objective-C, Cocoa, Ruby, and more. This blog will also be about web design and development. Occasionally, it will be Myst-related. At times, it'll be about my personal life. And it'll be about much more too.</p>

<p>I've decided not to implement categories or comments. Maybe I'll add that later. If you want to see comments implemented, just leave a comm&mdash;ah damn.</p>

<p>There's a few articles in the pipeline. The first one is a guide to C memory management, which some people just don't seem to understand.</p>

<p>So, stay here, browse the site, read a few articles, and perhaps subscribe to the <a href="http://feeds.feedburner.com/stoneship">blog feed</a>.</p>

<p>(P.S.: I forgot the version number of the old Stoneship site, so I'm labeling this version as 2.0, because I want to be a web 2.0 hippie too. Or maybe not. Whatever.)</p>
