<p>Building a web site isn't hard. There are many WYSIWIG editors, and tons of tutorials and HTML. I don't think I'm wrong if I say that a large majority of people already created (or at least tried creating) a small webpage of their own.</p>

<p>Many people create web sites based on what they want it to look like. That's not wrong; sites should be pretty after all. There's more to it, though&mdash;most people don't realise that not everyone sees a web page the same way&mdash;and I'm not talking about browser inconsistencies.</p>

<div class="section" id="a-hidden-majority">
	<h2>A Hidden Majority</h2>

	<p>It is often assumed that everyone uses a graphical browser such as Firefox, Safari, or Internet Explorer. This is not true; there are many other ways of browsing the web. For example, a small group of people uses screen readers&mdash;programs that read text on a web site out loud.</p>

	<p>There is a very large and very important group of "browsers" many people forget: search engines, such as Google. These programs index sites by looking at the HTML code and trying to figure out what the stuff on your page means.</p>

	<p>Indexing a site means taking a look at the text on a page and determining what keywords are important and what keywords aren't. This is done in a variety of ways: checking what words appear frequently on a page, checking what words appear in titles and emphasised text, etc.</p>

	<p>Depending on how you write your HTML, your site will appear higher or lower in search engine rankings. In this article, I'll explain how you can increase your search rankings by writing better HTML code.</p>
</div>

<div class="section" id="the-rise-of-css">
	<h2>The Rise Of CSS</h2>

	<p>In the past few years, CSS (also known as cascading style sheets) have become increasingly important. All modern browsers support CSS nowadays; even Internet Explorer 7's CSS is quite decent. There is simply no reason not to use CSS anymore, and many designers are starting to realise that.</p>

	<p>Why use CSS? Firstly, it gives you a much broader set of design tools than HTML does. Secondly, it is much easier to maintain a consistent look across an entire site. Thirdly, using CSS for presentation makes your HTML much smaller, much prettier, and much more maintainable.</p>

	<p><em>But only if you do it right.</em></p>

	<p>You can't simply start using CSS and expect your web site to suddenly become gorgeous. If you want to take advantage of CSS, you'll need to understand why exactly you should use it.</p>
</div>

<div class="section" id="presentational-versus-semantic">
	<h2>Presentational Versus Semantic</h2>

	<p>HTML defines several elements, such as <code>&lt;p&gt;</code> for paragraphs, <code>&lt;em&gt;</code> for emphasized text, and <code>&lt;h1&gt;</code>, <code>&lt;h2&gt;</code>, ... for headers. These are called <em>semantic elements</em>, because they convey a meaning. (I'll explain that in a bit.)</p>

	<p>Older versions of HTML, and the so-called "transitional" HTML variants, also define elements such as <code>&lt;b&gt;</code> for bold text, <code>&lt;i&gt;</code> for italic text, and even <code>&lt;font&gt;</code> for using different fonts and sizes. These are called <em>presentational elements</em>, because they tell the browser how to be displayed: bold, italic, with a custom font, etc.</p>

	<p>Semantic elements don't tell the browser how to be displayed. Let's take the paragraph element <code>p</code> for example. A paragraph can be styled in a million different ways, but it'll always remain a paragraph. I could style it like this:</p>

	<div class="figure"><img src="/assets/images/journal/meaningful-markup/paragraph-1.png"></div>

	<p>Or perhaps a bit more stylish, using a serif font:</p>

	<div class="figure"><img src="/assets/images/journal/meaningful-markup/paragraph-2.png"></div>

	<p>And I could create something bright and flashy like this:</p>

	<div class="figure"><img src="/assets/images/journal/meaningful-markup/paragraph-3.png"></div>

	<p>Presentational elements, on the other hand, <em>do</em> tell the browser how to be displayed. However, this also means presentational elements don't have a "meaning": you could use the <code>b</code> element to make important keywords bold, but you could also use it to make all links bold simply because it looks prettier. You could even put all text in bold because it easier readable.</p>
</div>

<div class="section" id="an-example-to-help-you-understand">
	<h2>An Example To Help You Understand</h2>

	<p>Suppose you want to emphasise keywords on your web page. You could use <code>&lt;b&gt;</code>; bold words catch attention after all:</p>

	<pre><code class="c">&lt;p&gt;This is &lt;b&gt;extremely&lt;/b&gt; important.&lt;/p&gt;</code></pre>

	<p>So you use <code>&lt;b&gt;</code> to mark up your keywords, but after a while you don't like the bold anymore. You jump into the CSS file and add these lines:</p>

	<pre><code class="c">b {
  font-weight: normal;
  color: red;
}</code></pre>

	<p>Your keywords are now a nice shade of red, and no longer bold. It's pretty, and  you like it. But, uh, in your HTML you're telling the text to be bold, and in your CSS you're telling it to have normal weight. D'oh.</p>

	<p>Let's rethink the situation. What you <em>really</em> wanted to do, is give emphasis to your keywords. It doesn't matter whether they're bold or red, they just need to stand out.</p>

	<p>HTML has the perfect solution for this: the <code>&lt;em&gt;</code> element, short for <em>emphasis</em>. So you change all <code>&lt;b&gt;</code>'s used for adding emphasis to <code>&lt;em&gt;</code>:</p>

	<pre><code class="c">&lt;p&gt;This is &lt;em&gt;extremely&lt;/em&gt; important.&lt;/p&gt;</code></pre>

	<p>Much better. The <code>&lt;em&gt;</code> element makes text italic by default though, so you change the text to be normal and red in the CSS:</p>

	<pre><code class="c">em {
  font-style: normal;
  color: red;
}</code></pre>

	<p>Notice how the <code>font-weight: normal</code> in your CSS is gone now&mdash; the <code>&lt;em&gt;</code> element isn't bold by default.</p>

	<p>So now you have your keywords in red. But after a while you decide to use bold keywords again. Easy:</p>

	<pre><code class="c">em {
  font-style: normal;
  font-weight: bold;
}</code></pre>

	<p>And in the HTML you change nothing. The HTML code tells the keywords to be emphasised, and the CSS code tells the browser how to display these keywords. You've only changed the presentation, so you don't have to touch the HTML code.</p>

	<p>This separation of content and presentation has more advantages than making your web pages easier to maintain. When Google visits your page, it'll notice the emphasized keywords, and think something like this:</p>

	<blockquote><p>"Judging by the content of the page, it looks like this page is about HTML and CSS. Oooh, look, there's a few emphasized words here: "HTML" and "CSS". I'm certain this page is about HTML and CSS now. When people search for HTML or CSS, I'll rank this page a little higher in my search results."</p></blockquote>

	<p>Sweet!</p>
</div>

<div class="section" id="the-good-and-the-bad-and-ugly">
	<h2>The Good, And The Bad-And-Ugly</h2>

	<p>In short, you should never use presentational elements in HTML, but use meaningful elements and style them with CSS. Here's a list of bad and ugly elements:</p>

	<ul>
		<li><code>&lt;b&gt;</code> for bold</li>
		<li><code>&lt;i&gt;</code> for italic</li>
		<li><code>&lt;u&gt;</code> for underline</li>
		<li><code>&lt;small&gt;</code> and <code>&lt;big&gt;</code> for decreasing or increasing text size</li>
		<li><code>&lt;s&gt;</code> and <code>&lt;strike&gt;</code> for strikethrough</li>
		<li><code>&lt;center&gt;</code> for centered text</li>
		<li><code>&lt;basefont&gt;</code> for setting the base font size</li>
		<li><code>&lt;font&gt;</code> for customizing fonts and sizes</li>
	</ul>

	<p>The elements you should use, include:</p>

	<ul>
		<li><code>&lt;h1&gt;</code>, <code>&lt;h2&gt;</code>, <code>&lt;h3&gt;</code>, &hellip; for headers</li>
		<li><code>&lt;em&gt;</code> for emphasis</li>
		<li><code>&lt;strong&gt;</code> for strong emphasis</li>
		<li><code>&lt;p&gt;</code> for paragraphs</li>
		<li><code>&lt;ul&gt;</code> and <code>&lt;ol&gt;</code> for ordered and unordered lists</li>
	</ul>

	<p>&hellip; and of course elements such as <code>&lt;a&gt;</code> for creating links, <code>&lt;img&gt;</code> for images, etc&mdash;but you were probably using these already anyway.</p>

	<p>It's not always obvious, but you should never create your own elements. You can still get away with it in most browser, but it's a very bad practice. Your HTML is no longer valid, and some browsers may start choking on that.</p>

	<p>For example, instead of creating a <code>&lt;red&gt;</code> element (maybe for putting emphasis on text), and then styling that red in CSS, consider using a pre-existing element like <code>&lt;em&gt;</code> instead. If that's not possible, use a <code>&lt;span&gt;</code> with a custom class.</p>
</div>

<div class="section" id="continue-reading">
	<h2>Continue Reading</h2>

	<p>I recommend checking out <a href="http://mezzoblue.com/downloads/markupguide/">mezzoblue's Markup Guide</a>. It's a reference for every HTML element you can/should use.</p>

	<p>You'll need to know quite a bit of CSS if you're going to write proper HTML. Newbies should check out the <a href="http://www.westciv.com/style_master/academy/hands_on_tutorial/index.html">westciv's hands on css tutorial</a>, or even the <a href="http://www.westciv.com/style_master/academy/css_tutorial/index.html">complete css guide</a>.</p>

	<p>There are many more resources about meaningful and correct HTML/CSS on the internet. Google is your friend!</p>
</div>

<div class="section" id="im-done">
	<h2>I'm Done</h2>

	<p>If you've never heard about "semantic" or "meaningful" markup before, I hope this article encourages you to find out more. If you've heard about it, I hope this article pushes you to finally re-write your pages in a much cleaner HTML.</p>

	<p>This post is just scratching the surface of writing better HTML. So continue reading other articles. You'll become good.</p>

	<p>Any comments, thoughts, criticisms, &hellip; about this article are always welcome.</p>
</div>
