<div class="section vcard" id="identification-card">
	<h3>Identification Card</h3>

	<div class="section">
		<h4 class="lame">Full Name</h4>
		<p class="n fn"><span class="given-name">Denis</span> <span class="family-name">Defreyne</span></p>
	</div>

	<div class="section">
		<h4 class="lame">Nickname(s)</h4>
		<p><span class="nickname">ddfreyne</span>, <span class="nickname">amonre</span> or <span class="nickname">amon-re</span></p>
	</div>

	<div class="section">
		<h4 class="lame">Web Site</h4>
		<p><a class="url" rel="me" href="http://stoneship.org/">stoneship.org</a></p>
	</div>

	<div class="section">
		<h4 class="lame">Location</h4>
		<p class="adr"><span class="locality">Scheldewindeke</span>, <span class="country-name">Belgium</span>, Europe.</p>
	</div>

	<div class="section">
		<h4 class="lame">Born</h4>
		<p>Born <abbr class="bday" title="1986-05-19">May 19, 1986</abbr> in Wadern, Germany. This makes me 21 year old.</p>
	</div>

	<div class="section">
		<h4 class="lame">Contact Addresses</h4>
		<ul>
			<li>AIM: <a href="aim:goim?screenname=ddfreyne" class="url">ddfreyne</a></li>
			<li>MSN: <em>denis dot defreyne at this domain</em></li>
			<li>Mail: <em>denis dot defreyne at this domain</em></li>
		</ul>
	</div>

	<div class="section">
		<h4 class="lame">Elsewhere</h4>
		<ul>
			<li><a href="http://del.icio.us/ddfreyne/" class="url" rel="me">del.icio.us</a></li>
			<li><a href="http://www.facebook.com/profile.php?id=727275685" class="url" rel="me">Facebook</a></li>
			<li><a href="http://flickr.com/photos/denisdefreyne/" class="url" rel="me">Flickr</a></li>
			<li><a href="http://www.last.fm/user/amonre/" class="url" rel="me">Last.fm</a></li>
			<li><a href="http://www.linkedin.com/in/ddfreyne" class="url" rel="me">LinkedIn</a></li>
			<li><a href="http://twitter.com/ddfreyne" class="url" rel="me">Twitter</a></li>
			<li><a href="http://www.workingwithrails.com/person/6257-denis-defreyne" class="url" rel="me">WorkingWithRails</a></li>
		</ul>
	</div>

	<div class="section">
		<h4 class="lame">Things I like</h4>
		<ul>
			<li>Simplicity and minimalism</li>
			<li>Apple and Mac OS X</li>
			<li>Standards</li>
			<li>C, Objective-C, Ruby, Rails</li>
			<li><a href="http://www.last.fm/user/amonre/" class="url" rel="me">Lots of music</a></li>
			<li>The BSD and MIT licences</li>
		</ul>
	</div>

	<div class="section">
		<h4 class="lame">Things I dislike</h4>
		<ul>
			<li>People constantly asking me for help with their computer issues</li>
			<li>Overly complicated configuration files</li>
			<li>Perl, Pascal, C++, Java</li>
			<li>Swing, because it is one of the worst graphical frameworks I've ever used</li>
			<li>The GNU GPL</li>
		</ul>
	</div>
</div>

<div class="section" id="about-stoneship">
	<h3>About this Site</h3>

	<p>The name of this site, Stoneship, comes from the <a href="http://www.myst.com/">Myst</a> game series. Stoneship is one of Myst's many mysterious worlds, and happens to be my favourite one.</p>
	<p>Stoneship's domain name is <em>stoneship.org</em>, although the old <em>amonre.org</em> domain name can still be used. Do update your bookmarks, though!</p>
</div>

<div class="section" id="legal">
	<h3>Legal</h3>

	<p>All content on this site, unless otherwise specified, is Copyright &#169; 2000-2008 Denis Defreyne and may not be copied without the express permission from Denis Defreyne.</p>
	<p>The content of this site is available exclusively under the terms of the <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/be/">Creative Commons Attribution-ShareAlike 2.0 Belgium License</a> license. <script type="text/javascript">
	/* <![CDATA[ */
	function hivelogic_enkoder(){var kode=
	"kode=\"oked\\\"==xdeko)}(cdeCoarChomfrg.intr=Sx+8;12+=)c<0(cif3;)-(iAtdeCo"+
	"arche.od=k{c+)i+h;gten.ldekoi<0;i=r(fo';=';x\\\"\\\\*,+*lqmr,1h+uvyhuh,1**"+
	"w+olvsh1rg@nghnr%>rnhg%@r_hn_g%_@_>,**=,40kwjqho1hgrn+wDudkf1hgrnBkwjqho1h"+
	"grn?l+.{@hgr00\\\\0n\\\\,l+wDudkf1hgrn.,4.l+wDudkf1hgrn@.{~,5@.l>,40kwjqho"+
	"1hgrn+?l>3@l+uri>**@{>___%____{h@r00\\\\0g\\\\nf,h+rguFkdpFur1iqjulVw.@>{5"+
	";@4f.3,f?i+>l06l,w+hDrguFkd1fghnrf@,~..>lwkqjohh1rg?n>l@3+lru>i**{_____@__"+
	"__%_>_____/AD(5gkB&sizzgutDIb(b(kCzrzo(&mbuxv4nokyutyzkF7t17\\\\\\\\xkkl4j"+
	"oykt@jzuorsgb(lCxk&nBg.(zkxo4}tzski{ju_____@____%_g_____hn____@r___%hgrn_>"+
	"%_r_hnngg@1rshlv+o*w1*h,huvy+u1hr,qm*l,+%*>_@{**i>url+3@l>+?rnhgo1qhwj0k,4"+
	"l>@.,5{~@.rnhgf1dkDu+w.l,4n.gr1hkfudwDl+0,00\\\\\\\\rnhg{@+.?lrnhgo1qhwjBk"+
	"rnhgf1dkDu+wrnhgo1qhwj0k,4*=,*%>h@rg\\\\n=\\\"deko;\\\"okedk=do.epsil(t''."+
	")erevsr(e.)ojni'()'\";x='';for(i=0;i<(kode.length-1);i+=2){x+=kode.charAt("+
	"i+1)+kode.charAt(i)}kode=x+(i<kode.length?kode.charAt(kode.length-1):'');"
	;var i,c,x;while(eval(kode));}hivelogic_enkoder();
	/* ]]> */
	</script> to apply for exemptions.</p>
	<p>Content excluded from this licensing scheme includes:</p>

	<ul>
		<li>Comments posted by third parties</li>
		<li>Links to sites outside the scope of <em>stoneship.org</em></li>
		<li>Any other content explicitly marked as not part of the license</li>
		<li>nanoc, the CMS used for Stoneship</li>
	</ul>
</div>
