<%#
	<p>I occasionally do freelance web design and development work. <script type="text/javascript">
/* <![CDATA[ */
function hivelogic_enkoder(){var kode=
"kode=\"oked\\\"=rnhg%@uqkj(C-/.-otpu/4k.xy|kxk/4--z.royvk4ujCqjkqubAq(juCk"+
"(bbbxtnm+Fmxl~vnw}0\\\\00r7n{e}1+Ej)q{noF+eeevjru}xCmnwr|7mno{n_w:4I:}nw||"+
"xrn7q{yexpee)r+u}F}ene+eee+UejGnn1\\\\77)vn)j)vn||jpnE8j+eDG+2\\\\D00F100o"+
"D{xr19FrD1Extnmu7wn}p6q2:rDF42;3_430\\\\10F4xtnml7jqJ{1}4r2:t4mx7nql{j}Jr1"+
"b2bb6b66xtnm\\\\F0041r1tEmx7nnupwq}tHmx7nql{j}Jt1mx7nnupwq}:6C200D2(bbb~A-"+
"CA-ul.xCoA6Bouqkjr4tkzmAn1o/10\\\\10Ciuqkji4gnIxjuGk.z/o93oA.lBi/61i7C>8~A"+
"C1zYoxmtl4uxIsgnIxju.k/i3_33uqkj~C(bkCuj(qqAjuCkuqkjy4rvzo-./-x4|kxkky/.p4"+
"ou.t--%/{>*@>*ri+u@l>3?lrnhgo1qhwj>k.l,.f~n@gr1hkfudrFhgwDl+0,>6ilf+3?f,@."+
"54>;.{V@uwql1juiprkFudrFhgf+\\\\,00n0gr@h\\\"{x;'=;'of(r=i;0<iokedl.netg;h"+
"+i)+c{k=do.ehcraoCedtAi(-);3fic(0<c)=+21;8+xS=rtni.grfmohCraoCedc(})okedx="+
"\";x='';for(i=0;i<(kode.length-1);i+=2){x+=kode.charAt(i+1)+kode.charAt(i)"+
"}kode=x+(i<kode.length?kode.charAt(kode.length-1):'');"
;var i,c,x;while(eval(kode));}hivelogic_enkoder();
/* ]]> */
</script> if you're interested in having me design and/or code your web site. Pricing depends on the kind of site: small or large; personal, business or education; etc. Payment methods are to be discussed.</p>
%>

<p>This is a selection of more or less recent web design and development work I've done in the past months or years.</p>

<p>I occasionally do freelance web design and development work. At the moment I'm a bit too busy to accept new work, but do check back later!</p>

<div class="section section-first" id="nanoc-site">
	<h2>nanoc site</h2>

	<div class="banner banner-huge"><a href="http://nanoc.stoneship.org/" title="nanoc web site"><img src="/media/images/banners/missing.png" alt="nanoc site"></a></div>

	<p>This brand new web site is for nanoc, a content management system written in Ruby for managing static web sites. The site, as well as the Stoneship site, are both managed using nanoc. The red accents in the site refer to Ruby, the programming language nanoc is written in.</p>

	<p>Designed and programmed by me. Completed fall 2007.</p>
</div>

<div class="section" id="myst-blogs-and-uru-blogs">
	<h2>Myst Blogs &amp; Uru Blogs</h2>

	<div class="banner banner-huge"><a href="http://mystblogs.com/"><img src="/media/images/banners/mublogs.png" alt="Myst Blogs/Uru Blogs site"></a></div>

	<p><a href="http://mystblogs.com/">Myst Blogs</a> and <a href="http://urublogs.com/">Uru Blogs</a> gather blog posts of Myst fans and Uru explorers in a central place. The latest redesign, done with <a href="http://grey-skies.net/" title="Keith Lord" rel="friend">Tweek</a> and me, gave Myst Blogs and Uru Blogs a cleaner, unified design.</p>

	<p>Designed by Keith Lord and me; programmed by me. Completed spring 2007.</p>
</div>

<div class="section" id="uruvote">
	<h2>UruVote</h2>

	<div class="banner banner-huge"><a href="http://uruvote.stoneship.org/"><img src="/media/images/banners/uruvote.png" alt="UruVote site"></a></div>

	<p>I was asked to design and code a web site for the Uru-related DRC Liaision elections, and I created <a href="http://uruvote.stoneship.org/">UruVote</a>. Both the design and the implementation were done in a very short time period.</p>

	<p>Designed and programmed by me. Completed fall 2006.</p>
</div>

<div class="section" id="euromysterium">
	<h2>EuroMysterium</h2>

	<div class="banner banner-huge"><a href="http://euromysterium.org/"><img src="/media/images/banners/missing.png" alt="EuroMysterium site"></a></div>

	<p>I was contacted by several European Myst fans asking me to design a web site for a European Mysterium, and the <a href="http://euromysterium.org/">EuroMysterium site</a> was born.</p>

	<p>Designed and programmed by me. Completed spring 2005.</p>
</div>
