* {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

body {
	background: #292320 url(/media/images/background.png) fixed;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;

	line-height: 20px;

	margin: 0 auto;

	width: 720px;
}

/** ========== HEADER ========== */

#header {
	padding: 100px 0 0 200px;
}

#header h1 {
	color: #fff;

	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 45px;

	letter-spacing: -2px;

	line-height: 60px;

	margin: 0 0 40px 0;
	padding: 0;
}

/** ========== SIDEBAR ========== */

#sidebar {
	float: left;

	text-align: right;

	width: 120px;
}

/* title */

#sidebar div#site-title {
	color: #fff;

	font-size: 14px;
	font-weight: bold;

	letter-spacing: 2px;

	margin: 0 0 20px 0;

	text-transform: uppercase;
}

/* navigation */

#sidebar li {
	font-size: 12px;

	letter-spacing: 2px;

	list-style-type: none;

	text-transform: uppercase;
}

#sidebar span.active {
	color: #fff;
}

#sidebar span.active:before {
	content: "> ";
}

/* links */

#sidebar a {
	text-decoration: none;
}

#sidebar a:link,
#sidebar a:visited {
	color: #a99c96;
}

#sidebar a:hover {
	color: #d4c5bf;
}

#sidebar a:active {
	color: #fff;
}

/** ========== CONTENT ========== */

#content {
	margin-left: 200px;
}

/* headers */

#content h2 {
	color: #d4c5bf;

	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 30px;

	letter-spacing: -1px;

	line-height: 40px;

	margin: 50px 0 10px 0;
}

#content h3 {
	color: #d4c5bf;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;

	line-height: 40px;

	margin: 30px 0 10px 0;

	text-transform: uppercase;
}

#content h3.small {
	margin: 20px 0 0 0;
}

#content h2 + h3,
#content h2 + .section > h3 {
	margin-top: 10px;
}

/* text */

#content p {
	color: #a99c96;

	font-size: 13px;

	line-height: 20px;

	margin: 0 0 20px 0;
}

#content p.meta {
	font-size: 11px;

	letter-spacing: 3px;

	text-transform: uppercase;
}

#content .warning {
	background: #292320;

	margin: 0 0 20px 0;
	padding: 10px;
}

#content .warning p {
	margin: 0;
}

#content strong {
	color: #d4c5bf;

	font-size: 11px;

	text-transform: uppercase;
}

#content blockquote {
	font-style: italic;

	margin: 0 0 20px 0;
	padding: 0 0 0 40px;
}

/* lists */

#content ul,
#content ol {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
}

#content ul ul,
#content ul ol,
#content ol ul,
#content ol ol {
	margin-bottom: 0;
}

#content li {
	color: #a99c96;

	font-size: 13px;

	line-height: 20px;

	list-style-type: square;
}

/* identification card table */

#content table#id td {
	color: #a99c96;

	font-size: 13px;

	line-height: 20px;

	padding: 0 0 20px 0;
}

#content table#id th {
	color: #d4c5bf;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;

	line-height: 20px;

	padding: 0 0 20px 0;

	text-align: left;
	text-transform: uppercase;

	vertical-align: top;

	width: 150px;
}

#content table#id ul {
	margin: 0;
	padding: 0;
}

#content table#id ul li {
	list-style-type: none;
}

/* links */

#content a {
	text-decoration: none;
}

#content a:link,
#content a:visited {
	color: #fff;

	border-bottom: 1px solid #fff;

	font-weight: bold;
}

#content a:hover {
	color: #d4c5bf;

	border-bottom: 3px double #d4c5bf;
}

#content a:active {
	color: #a99c96;

	border-bottom: 3px solid #a99c96;
}

#content span.active {
	color: #a99c96;

	font-weight: bold;
}

/* banners */

#content .banner a {
	border: 0;
}

#content .banner img {
	display: block;
}

/* banners - large */

#content .banner-large {
	padding: 5px 0;
	margin: 0 0 20px 0;
}

#content .banner-large img {
	background: #292320;

	padding: 10px;

	width: 430px;
	height: 210px;
}

/* banners - huge */

#content .banner-huge {
	background: #292320;

	margin: 0 0 20px 0;
	padding: 10px;
}

#content .banner-huge img {
	width: 500px;
	height: 240px;
}

/* banners - square */

#content .gallery-square {
	float: left;

	width: 100%;
}

#content .banner-square {
	background: #292320;

	float: left;

	margin: 0 10px 10px 0;
	padding: 10px;
}

#content .banner-square img {
	width: 200px;
	height: 200px;
}

/* gallery */

#content .gallery {
	margin: 0;
	padding: 0;
}

#content .gallery li {
	background: #292320;

	float: left;

	list-style-type: none;

	padding: 5px;
	margin: 0 20px 20px 0;
}

#content .gallery li a {
	border: 0;
}

#content .gallery img {
	display: block;

	width: 100px;
	height: 62px;
}

/* forms */

#content form textarea {
	background: #d4c5bf;

	border: 1px solid #292320;

	padding: 2px;

	width: 514px;
}

#content form input.text {
	background: #d4c5bf;

	border: 1px solid #292320;

	padding: 2px;
}

#content form p {
	margin: 20px 0 0 0;
}

#content form .radio {
	padding-left: 0;
}

#content form .radio li {
	list-style-type: none;
}

#content form p.label {
	color: #d4c5bf;

	font-size: 12px;

	text-transform: uppercase;
}

/* images */

#content .figure {
	margin: 0 0 20px 0;
}

/* code */

#content pre {
	background: #292320;

	color: #fff;

	font-size: 12px;

	line-height: 20px;

	margin: 0 0 20px 0;
	padding: 10px;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#content pre.output {
	color: #090;
}

#content code,
#content samp,
#content var,
#content kbd {
	font-family: "Bitstream Vera Sans Mono", Consolas, "Courier New", Courier, monospace;
	font-style: normal;
	font-size: 12px;

	padding-left: 2px;
	padding-right: 2px;

	line-height: 20px;

	background: #292320;
}

#content code .comment {
	color: #666;
}

#content code .value,
#content code .string {
	background-color: #484830;

	color: #fe3;

	padding: 0 2px;
}

#content code .constant,
#content code .symbol {
	color: #fd0;
}

#content code .function {
	color: #f90;
}

#content code .storage {
	color: #f60;
}

#content code .variable {
	color: #6ff;
}

#content code .keyword {
	color: #39f;
}

#content code .element {
	color: #39f;
}

#content code .attribute {
	color: #f90;
}

#content code .m {
	background-color: #555;

	color: #fff;

	padding: 0 2px;
}

/** ========== FOOTER ========== */

#footer {
	clear: both;

	padding: 80px 0 80px 200px;
}

/* text */

#footer p {
	color: #a99c96;

	font-size: 11px;

	line-height: 20px;
}

/* links */

#footer a {
	text-decoration: none;
}

#footer a:link,
#footer a:visited {
	color: #d4c5bf;

	border-bottom: 1px solid #d4c5bf;

	font-weight: bold;
}

#footer a:hover {
	color: #a99c96;

	border-bottom: 3px double #a99c96;
}

#footer a:active {
	color: #fff;

	border-bottom: 3px solid #fff;
}
