<!DOCTYPE html>
<html>
	<head>
		<title>Denis Defreyne’s Curriculum Vitae</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="<%= item_named('/assets/style/cv/main/').path   %>" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="<%= item_named('/assets/style/cv/screen/').path %>" type="text/css" charset="utf-8" media="screen">
		<link rel="stylesheet" href="<%= item_named('/assets/style/cv/print/').path  %>" type="text/css" charset="utf-8" media="print">
	</head>
	<body>
		<div id="wrapper">
			<div class="hresume">
				<h1>Curriculum Vitae</h1>
				<div class="contact vcard">
					<div class="section">
						<div class="fn n" id="j">
							<span class="given-name">Denis</span> <span class="family-name">Defreyne</span>
						</div>
						<div class="adr">
							<span class="street-address">Hauwsestraat 74A</span><br>
							<span class="locality">Scheldewindeke</span>, <span class="postal-code">9860</span><br>
							<span class="country-name">België</span>
						</div>
						<div class="tels">
							<span class="tel"><span class="value">0479/74 57 27</span> (<span class="type">mobiel</span>)</span><br>
							<span class="tel"><span class="value">09/362 74 64</span> (<span class="type">thuis</span>)</span>
						</div>
						<div class="urls">
							E-mailadres: <a class="email" href="mailto:denis.defreyne@stoneship.org">denis.defreyne@stoneship.org</a><br>
							Website: <a class="url" href="http://stoneship.org/">Stoneship</a>
						</div>
						<p class="print-notice">Dit curriculum vitae is online bereikbaar op http://stoneship.org/cv/.</p>
						<p class="screen-notice">Dit curriculum vitae is ook beschikbaar <a href="cv-denis-defreyne-nl.pdf">als een printbaar PDF-bestand</a>. An <a href="../en/">version of this curriculum vitae in English</a> is also available.</p>
					</div>
					<div class="section">
						<h2>Personalia</h2>
						<dl>
							<dt>Geboortedatum</dt>
							<dd class="bday"><abbr class="value" title="1986-05-19">19 mei 1986</abbr></dd>
							
							<dt>Geboorteplaats</dt>
							<dd>Wadern (Duitsland)</dd>

							<dt>Nationaliteit</dt>
							<dd>Belgisch</dd>

							<dt>Geslacht</dt>
							<dd>Mannelijk</dd>

							<dt>Burgerlijke staat</dt>
							<dd>Ongehuwd</dd>
						</dl>
					</div>
				</div>
				<div class="section"> <!-- opleidingen -->
					<h2>Opleiding</h2>
					<div class="vcalendar">
						<div class="education vevent vcard">
							<div class="htitle">
								<span class="org">Universiteit Gent</span><br>
								<span class="summary">Master in de Computerwetenschappen, optie Software Engineering</span><br>
							</div>
							Thesisonderwerp: “Ontwerp van een recommendatiesysteem voor het aanbieden van diensten op sociale netwerksites”
							<div class="date_duration">
								<abbr class="dtstart" title="2008-09-01">2008</abbr> → <abbr class="dtend" title="2010-07-01">2010</abbr>
							</div>
						</div>
						<div class="education vevent vcard">
							<div class="htitle">
								<span class="org">Universiteit Gent</span><br>
								<span class="summary">Bachelor in de Informatica</span>
							</div>
							<div class="date_duration">
								<abbr class="dtstart" title="2005-09-01">2005</abbr> → <abbr class="dtend" title="2009-07-01">2009</abbr>
							</div>
						</div>
						<div class="education vevent vcard">
							<div class="htitle">
								<span class="org">Koninklijk Atheneum Voskenslaan Gent</span><br>
								<span class="summary">Wetenschappen-Wiskunde (8 uur)</span>
							</div>
							<div class="date_duration">
								<abbr class="dtstart" title="1998-09-01">1998</abbr> → <abbr class="dtend" title="2005-07-01">2005</abbr>
							</div>
						</div>
					</div>
				</div>
				<div class="section"> <!-- werkervaring -->
					<h2>Werkervaring</h2>
					<div class="vcalendar">
						<div class="experience vevent vcard">
							<div class="htitle">
								<!-- <object data="#j" class="include"></object> -->
								<span class="org">(persoonlijk)</span>:
								<span class="title">Softwareontwikkelaar</span>
							</div>
							<div class="date_duration">
								<abbr class="dtstart" title="2007-04-01">april 2007</abbr> → <abbr class="dtend">nu</abbr>
							</div>
							<div class="description">
								<ul>
									<li>Ontwikkelen van <a href="http://nanoc.stoneship.org/">nanoc</a>, een publicatiesysteem geschreven in Ruby voor kleine en middelgrote statische web sites</li>
									<li>Ontwikkelen van verscheidene kleinere applicaties en bibliotheken (adsf, CObject, ddbencode, Lunkwill…)</li>
									<li>Ontwikkelen van websites zoals <a href="http://stoneship.org/">Stoneship</a>, de <a href="http://nanoc.stoneship.org/">nanoc website</a>, <a href="http://mystblogs.com/">Myst Blogs</a> en <a href="http://urublogs.com/">Uru Blogs</a> (in samenwerking), de <a href="http://mystonline.com/">Myst Online website</a> (in samenwerking)…</li>
								</ul>
							</div>
						</div>
						<div class="experience vevent vcard">
							<div class="htitle">
								<!-- <object data="#j" class="include"></object> -->
								<span class="org">Netlog</span>:
								<span class="title">Stagiair: softwareontwikkelaar</span>
							</div>
							<div class="date_duration">
								<abbr class="dtstart" title="2009-08-01">augustus 2009</abbr> → <abbr class="dtend" title="2009-09-01">september 2009</abbr>
							</div>
							<div class="description">
								Optimaliseren van een bestaand misbruikdetectiesysteem, geschreven in PHP als deel van een thesis in 2008-2009, voor Netlog.
							</div>
						</div>
						<div class="experience vevent vcard">
							<div class="htitle">
								<!-- <object data="#j" class="include"></object> -->
								<span class="org">dotProjects</span>:
								<span class="title">Webapplicatieontwikkelaar</span>
							</div>
							<div class="date_duration">
								<abbr class="dtstart" title="2008-07-01">juli 2008</abbr> → <abbr class="dtend" title="2008-08-01">augustus 2008</abbr>
							</div>
							<div class="description">
								Ontwikkelen van een webapplicatie dat gebruik maakt van machinevertaling om op een eenvoudige en geautomatiseerde manier grote documenten in verschillende formaten te kunnen vertalen.
							</div>
						</div>
						<div class="experience vevent vcard">
							<div class="htitle">
								<!-- <object data="#j" class="include"></object> -->
								<span class="org">dotProjects</span>:
								<span class="title">Webapplicatieontwikkelaar</span>
							</div>
							<div class="date_duration">
								<abbr class="dtstart" title="2007-07-01">juli 2007</abbr> → <abbr class="dtend" title="2007-08-01">augustus 2007</abbr>
							</div>
							<div class="description">
								Helpen bij het ontwikkelen van een webgebaseerd content management system voor websites zoals <a href="http://cuttingedge.be/">Cutting Edge</a> en <a href="http://auto55.be/">Auto55.be</a>.
							</div>
						</div>
					</div>
				</div>
				<div class="section"> <!-- vaardigheden -->
					<h2>Vaardigheden</h2>

					<p><strong>Programmeertalen</strong>: assembly (x86), C, C++, Java, JavaScript, Objective-C, PHP, Ruby, SQL (hoofdzakelijk MySQL)</p>

					<p><strong>Frameworks</strong>: Cocoa, Ruby on Rails</p>

					<p><strong>Opmaaktalen</strong>: HTML (HTML 4, HTML 5, XHTML, semantisch web, microformats), CSS (1, 2, 3), LaTeX, YAML, XML</p>

					<p><strong>Versiebeheersystemen</strong>: CVS, Git, Mercurial, Subversion</p>

					<p><strong>Besturingssystemen</strong>: Mac OS X (10.0 tot en met 10.6), Linux, Unix en gerelateerde systemen, Microsoft Windows (XP, Vista, 7)</p>

					<table>
						<tr>
							<th>Nederlands</th>
							<td>vloeiend (moedertaal)</td>
						</tr>
						<tr>
							<th>Engels</th>
							<td>schrijven/lezen vloeiend, spreken goed<br>(laureaat van de <i>KUB English language contest</i>)</td>
						</tr>
						<tr>
							<th>Frans</th>
							<td>basis</td>
						</tr>
						<tr>
							<th>Duits</th>
							<td>basis</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="footer">
				<p>Dit curriculum vitae gebruikt microformats zoals <a href="http://microformats.org/wiki/hresume">hResume</a> en <a href="http://microformats.org/wiki/hcard">hCard</a>.</p>
			</div>
		</div>
	</body>
</html>
