<p>I have been a fan of the Myst series ever since I was a kid. Aside from playing the games, I enjoy contributing to the community. This page contains some collected Myst-related files.</p>

<div class="section" id="active-projects">
	<h3>Active Projects</h3>

	<div class="section" id="myst-online-site">
		<h4>Myst Online site</h4>
		<div class="banner"><a href="http://www.mystonline.com/" title="Myst Online: Uru Live web site"><img src="/media/images/banners/moul-off.png" alt="Myst Online: Uru Live banner" id="banner-moul"></a></div>
		<p>During my internship at <a href="http://www.cyanworlds.com/">Cyan Worlds</a>, I maintain the <a href="http://www.mystonline.com/">Myst Online: Uru Live</a> site, together with my partner in crime <a href="http://grey-skies.net/" title="Keith Lord" rel="friend">Tweek</a>.</p>
	</div>

	<div class="section" id="myst-blogs-and-uru-blogs">
		<h4>Myst Blogs &amp; Uru Blogs</h4>
		<div class="banner"><a href="http://mystblogs.com/"><img src="/media/images/banners/mublogs-off.png" alt="Myst Blogs/Uru Blogs" id="banner-mublogs"></a></div>
		<p><a href="http://mystblogs.com/">Myst Blogs</a> and <a href="http://urublogs.com/">Uru Blogs</a> gather blog posts of Myst fans and Uru explorers in a central place. Together with <a href="http://grey-skies.net/" title="Keith Lord" rel="friend">Tweek</a>, the two sites were merged and redesigned.</p>
	</div>

	<div class="section" id="amonres-wonderful-uru-photo-gallery">
		<h4>amonre's Wonderful Uru Photo Gallery</h4>
		<p>I have a <a href="/myst/uru_gallery/">gallery of beautiful screenshots</a> from the game <a href="http://mystonline.com/">Myst Online: Uru Live</a>. This gallery is regularly updated with new and interesting pictures.</p>
	</div>

	<div class="section" id="cyan-chat-clients">
		<h4>Cyan Chat clients</h4>
		<p>I maintain a <a href="/myst/cyanchatclients/" title="List of CyanChat clients">list of Cyan Chat clients</a>. These days it also lists servers and libraries though, so the page is a misnomer now. Anyway, enjoy.</p>
	</div>

	<div class="section" id="uru-chat-log-formatter">
		<h4>Uru Chat Log Formatter</h4>
		<p>I wrote a little <a href="/myst/uru_chat_log_formatter/">Uru chat log formatter</a>. Give it a chatlog, select the names you want highlighted, and you get a pretty formatted chat log back.</p>
	</div>
</div>

<div class="section" id="past-projects">
	<h3>Past Projects</h3>

	<div class="section" id="uruvote">
		<h4>UruVote</h4>
		<div class="banner"><a href="http://uruvote.stoneship.org/"><img src="/media/images/banners/uruvote-off.png" alt="UruVote" id="banner-uruvote"></a></div>
		<p>I was asked to design and code a web site for the Uru-related DRC Liaison elections, and I created <a href="http://uruvote.stoneship.org/">UruVote</a>.</p>
	</div>

	<div class="section" id="euromysterium">
		<h4>EuroMysterium</h4>
		<div class="banner"><a href="http://euromysterium.org/"><img src="/media/images/banners/euromysterium-off.png" alt="EuroMysterium" id="banner-euromysterium"></a></div>
		<p>I designed the web site for <a href="http://euromysterium.org/">EuroMysterium</a>, a European version of Mysterium.</p>
	</div>

	<div class="section" id="yaccc">
		<h4>yaccc</h4>
		<p>I have written a CyanChat client called <a href="/software/yaccc/" title="yaccc: yet another cyan chat client">yaccc</a> (Yet Another Cyan Chat Client). It is written in Python and is designed to run on Unix and Unix-like systems. More information about this can be found on the <a href="/software/yaccc/">yaccc</a> page.</p>
	</div>
</div>
