<p>I have been a fan of the Myst series ever since I was a kid. Aside from playing the games, I enjoy contributing to the community. This page contains some collected Myst-related files.</p>

<div class="section" id="active-projects">
	<h3>Active Projects</h3>

	<div class="section" id="myst-online-site">
		<h4>Myst Online site</h4>
		<div class="banner"><a href="http://www.mystonline.com/" title="Myst Online: Uru Live web site"><img src="/media/images/banners/moul-off.png" alt="Myst Online: Uru Live banner" id="banner-moul"></a></div>
		<p>During my internship at <a href="http://www.cyanworlds.com/">Cyan Worlds</a>, I maintain the <a href="http://www.mystonline.com/">Myst Online: Uru Live</a> site, together with my partner in crime <a href="http://grey-skies.net/" title="Keith Lord" rel="friend">Tweek</a>.</p>
	</div>

	<div class="section" id="myst-blogs-and-uru-blogs">
		<h4>Myst Blogs &amp; Uru Blogs</h4>
		<div class="banner"><a href="http://mystblogs.com/"><img src="/media/images/banners/mublogs-off.png" alt="Myst Blogs/Uru Blogs" id="banner-mublogs"></a></div>
		<p><a href="http://mystblogs.com/">Myst Blogs</a> and <a href="http://urublogs.com/">Uru Blogs</a> gather blog posts of Myst fans and Uru explorers in a central place. Together with <a href="http://grey-skies.net/" title="Keith Lord" rel="friend">Tweek</a>, the two sites were merged and redesigned.</p>
	</div>

	<div class="section" id="amonres-wonderful-uru-photo-gallery">
		<h4>amonre's Wonderful Uru Photo Gallery</h4>
		<p>I have a <a href="/myst/uru_gallery/">gallery of beautiful screenshots</a> from the game <a href="http://mystonline.com/">Myst Online: Uru Live</a>. This gallery is regularly updated with new and interesting pictures.</p>
	</div>

	<div class="section" id="cyan-chat-clients">
		<h4>Cyan Chat clients</h4>
		<p>I maintain a <a href="/myst/cyanchatclients/" title="List of CyanChat clients">list of Cyan Chat clients</a>. These days it also lists servers and libraries though, so the page is a misnomer now. Anyway, enjoy.</p>
	</div>

	<div class="section" id="uru-chat-log-formatter">
		<h4>Uru Chat Log Formatter</h4>
		<p>I wrote a little <a href="/myst/uru_chat_log_formatter/">Uru chat log formatter</a>. Give it a chatlog, select the names you want highlighted, and you get a pretty formatted chat log back.</p>
	</div>
</div>

<div class="section" id="past-projects">
	<h3>Past Projects</h3>

	<div class="section" id="uruvote">
		<h4>UruVote</h4>
		<div class="banner"><a href="http://uruvote.stoneship.org/"><img src="/media/images/banners/uruvote-off.png" alt="UruVote" id="banner-uruvote"></a></div>
		<p>I was asked to design and code a web site for the Uru-related DRC Liaison elections, and I created <a href="http://uruvote.stoneship.org/">UruVote</a>.</p>
	</div>

	<div class="section" id="euromysterium">
		<h4>EuroMysterium</h4>
		<div class="banner"><a href="http://euromysterium.org/"><img src="/media/images/banners/euromysterium-off.png" alt="EuroMysterium" id="banner-euromysterium"></a></div>
		<p>I designed the web site for <a href="http://euromysterium.org/">EuroMysterium</a>, a European version of Mysterium.</p>
	</div>

	<div class="section" id="yaccc">
		<h4>yaccc</h4>
		<p>I have written a CyanChat client called <a href="/software/yaccc/" title="yaccc: yet another cyan chat client">yaccc</a> (Yet Another Cyan Chat Client). It is written in Python and is designed to run on Unix and Unix-like systems. More information about this can be found on the <a href="/software/yaccc/">yaccc</a> page.</p>
	</div>
</div>

<div class="section" id="interviews">
	<h3>Interviews and Q&amp;A Sessions</h3>

	<p>I have logged and formatted several interviews held in the (now closed) #Uru/#Uruchat channels.</p>

	<ul>
		<li><a href="randmiller/" title="Rand Miller interview/Q&amp;A session">Rand Miller Q&amp;A</a> (November 12 2003)</li>
		<li><a href="timlarkin/" title="Tim Larkin interview/Q&amp;A session">Tim Larkin Q&amp;A</a> (January 13 2004)</li>
		<li><a href="billslease/" title="Bill Slease interview/Q&amp;A session">Bill Slease Q&amp;A</a> (June 24 2004)</li>
		<li><a href="revteam/" title="Myst IV: Revelation team interview/Q&amp;A session">Myst IV: Revelation team Q&amp;A</a> (September 28 2004)</li>
	</ul>
</div>

<div class="section" id="quick-reviews">
	<h3>Quick Reviews</h3>

	<p>Here's several quick reviews of most games in the Myst and Uru series.</p>

	<div class="section" id="quick-reviews-myst">
		<h4>Myst</h4>
		<p class="hreview"><span class="item description">My father bought me <a href="http://en.mystlore.com/wiki/Myst_%28game%29" class="fn url">Myst</a> after Riven was out. This was the game that dragged me down the Myst path. Finished in a few weeks. <abbr class="rating" title="5">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</abbr></span></p>
	</div>

	<div class="section" id="quick-reviews-riven">
		<h4>Riven</h4>
		<p class="hreview"><span class="item description">I immediately fell in love with <a href="http://en.mystlore.com/wiki/Riven_%28game%29" class="fn url">Riven</a>. The breathtaking visuals, the great storyline and the awesome music all combine into very immersive gameplay. Riven probably is my all-time favourite game. Finished in about a week. <abbr class="rating" title="5">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</abbr></span></p>
	</div>

	<div class="section" id="quick-reviews-exile">
		<h4>Myst III: Exile</h4>
		<p class="hreview"><span class="item description">I liked <a href="http://en.mystlore.com/wiki/Myst_III:_Exile" class="fn url" title="Myst III: Exile">Exile</a> less than Myst and Riven. It doesn't seem to fit in well in the series, storyline-wise. Nice graphics, poor music. However, it definitely is still worth playing. Finished in about a week. <abbr class="rating" title="3">&#x2605;&#x2605;&#x2605;&#x2606;&#x2606;</abbr></span></p>
	</div>

	<div class="section" id="quick-reviews-revelation">
		<h4>Myst IV: Revelation</h4>
		<p class="hreview"><span class="item description"><a href="http://en.mystlore.com/wiki/Myst_IV:_Revelation" class="fn url" title="Myst IV: Revelation">Revelation</a> is not a great game. It is visually stunning, but that doesn't compensate for the mediocre storyline the game has. And, argh, the ending sucked! Finished in a few days (completely walkthrough'ed the ending, though). <abbr class="rating" title="2">&#x2605;&#x2605;&#x2606;&#x2606;&#x2606;</abbr></span></p>
	</div>

	<div class="section" id="quick-reviews-end-of-ages">
		<h4>Myst V: End of Ages</h4>
		<p class="hreview"><span class="item description"><a href="http://en.mystlore.com/wiki/Myst_V:_End_of_Ages" class="fn url" title="Myst V: End of Ages">End of Ages</a> was released right before Cyan Worlds shut its doors (before being magically resurrected), and the game is visibly rushed. Most striking is the rather weak storyline, which does not seem to tie in well into Myst's or Uru's story&mdash;and it is not known whether any of it can be considered "canon" in the Uru Live universe. All in all a nice game worth playing. <abbr class="rating" title="3">&#x2605;&#x2605;&#x2605;&#x2606;&#x2606;</abbr></span></p>
	</div>

	<div class="section" id="quick-reviews-uru-live">
		<h4>Myst Online: Uru Live</h4>
		<p class="hreview"><span class="item description">Unlike the other games, <a href="http://en.mystlore.com/wiki/Myst_Online:_Uru_Live" class="fn url">Myst Online: Uru Live</a> is a MMO that is continually evolving, which definitely sets it apart from the other games. Story-wise, the game was a bit weak until recently, when Cyan Worlds announced that Uru Live would consist of episodes&mdash;a great decision, as evidenced by the massive interest in the first episode, "Scars". Overall, the game is very strong.<abbr class="rating" title="4">&#x2605;&#x2605;&#x2605;&#x2605;&#x2606;</abbr></span></p>
	</div>
</div>
