---
title:              "amonre's Wonderful Uru Photo Gallery"
custom_body_class: "myst"
---

<p>For some weird reason, I've always been attracted to the beauty of <a href="http://mystonline.com/">Myst Online: Uru Live</a>. Here are a couple of recent screenshots I happen to like a lot.</p>

<p>Also check out <a href="/myst/">other Myst-related stuff</a> I have lying around.</p>

<p>Myst Online: Uru Live (TM) is the sole property of Cyan Worlds Inc. Copyright 2003 Cyan Worlds, Inc. All Rights reserved. Used with permission.</p>

<ul class="gallery-medium">
<% warn 'No Uru gallery images found; please correct.' if Dir['output/assets/images/uru_gallery/*.jpg'].empty? %>
<% Dir['output/assets/images/uru_gallery/*.jpg'].reject { |f| f.include?('-thumbnail') }.each do |f| %>
	<li>
		<a href="<%= f.sub(/^output/, '') %>">
			<img src="<%= f.sub(/^output/, '').sub(/\.jpg$/, '-thumbnail.jpg') %>">
		</a>
	</li>
<% end %>
</ul>
