@define highlight-color								#f00;

@define body-background-color						#e7e7e7;

@define header-background-color						#332b2a;
@define header-link-color							#b8b4b3;
@define header-link-hover-color						#fff;
@define header-link-active-color					#908989;
@define header-shadow-color							#000;

@define nav-background-color						#1e1918;
@define nav-active-color							#fff;
@define nav-link-color								#999;
@define nav-link-hover-color						#ccc;
@define nav-link-active-color						#eee;

@define breadcrumbs-background-color				#b8b4b3;
@define breadcrumbs-color							#555;
@define breadcrumbs-separator-color					#999;
@define breadcrumbs-link-color						#333;
@define breadcrumbs-link-hover-color				#000;
@define breadcrumbs-link-active-color				#c00;
@define breadcrumbs-active-color					#c00;

@define content-color								#1e1918;
@define content-lighter-color						#888;
@define content-link-color							#000;
@define content-link-hover-color					#f00;
@define content-link-active-color					#900;
@define content-active-color						#900;
@define content-permalink-color						#999;

@define content-code-background-color				#b8b4b3;

@define content-banner-background-color				#b8b4b3;
@define content-banner-hover-background-color		#999;

@define content-interview-message-background-color	#ccc;
@define content-interview-question-background-color	#aaa;
@define content-interview-person-color				#000;

@define content-blockquote-background-color			#b8b4b3;
@define content-pre-background-color				#332b2a;
@define content-pre-color							#fff;
@define content-pre-output-color					#6f0;
@define content-pre-lighter-color					#666;

@define content-h2-color							#1e1918;
@define content-h2-border-color						#900;
@define content-h3-color							#1e1918;
@define content-h3-border-color						#c00;
@define content-h4-color							#332b2a;
@define content-h4-border-color						#b8b4b3;
@define content-highlighted-header-color			#000;
@define content-highlighted-header-background-color	#b8b4b3;
@define content-highlighted-header-border-color		#c00;
@define content-header-permalink-color				#999;
@define content-header-permalink-hover-color		#666;
@define content-header-permalink-active-color		#000;

@define content-gallery-item-background-color		#ccc;
@define content-gallery-item-hover-background-color	#999;

@define sidebar-color								#666;
@define sidebar-header-color						#333;
@define sidebar-header-border-color					#c00;
@define sidebar-link-color							#000;
@define sidebar-link-hover-color					#f00;
@define sidebar-link-active-color					#900;
@define sidebar-active-color						#900;

@define footer-link-color							#333;
@define footer-link-hover-color						#000;
@define footer-link-active-color					#c00;
@define footer-active-color							#c00;

@define footer-top-color							#555;
@define footer-top-background-color					#b8b4b3;
@define footer-top-header-color						#222;
@define footer-top-header-border-color				#900;

@define footer-bottom-background-color				#908989;
@define footer-bottom-color							#222;
@define footer-bottom-border-color					#1e1918;





* {
	margin: 0;
	padding: 0;

	line-height: 1;
}

a img {
	border: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 62.5%;

	line-height: 1.5em;

	background: url(../images/baseline.png) center top repeat-y;
	background: constant(body-background-color);
}

html>body {
	font-size: 10px;
}

strong {
	font-size: 0.9em;

	text-transform: uppercase;

	color: constant(highlight-color);
}

/** ==================== NAV ==================== */

/** ----- layout ----- */

#nav {
	margin: 0 auto;
	padding: 0.6em 0;

	text-align: center;
}

#nav li {
	display: inline;
}

#nav .active,
#nav a {
	padding: 0 0.8em;

	font-size: 1.2em;
	line-height: 1.5em;
}

/** ----- colors and fonts ----- */

#nav {
	background: constant(nav-background-color);
}

#nav .active {
	color: constant(nav-active-color);
}

#nav a {
	text-decoration: none;
}

#nav a:link,
#nav a:visited {
	color: constant(nav-link-color);
}

#nav a:hover {
	color: constant(nav-link-hover-color);
}

#nav a:active {
	color: constant(nav-link-active-color);
}

/** ==================== H1 ==================== */

h1 {
	font-size: 1em;

	background: constant(header-background-color) url(../images/header-background.png);
}

h1 a {
	display: block;

	padding: 0.7em 0;

	letter-spacing: 0.05em;

	font-size: 5em;
	font-weight: normal;

	text-decoration: none;
	text-shadow: constant(header-shadow-color) 0 0 1em;
	text-transform: lowercase;
	text-align: center;
}

h1 a:link,
h1 a:visited {
	color: constant(header-link-color);
}

h1 a:hover {
	color: constant(header-link-hover-color);
}

h1 a:active {
	color: constant(header-link-active-color);
}

/** ==================== BREADCRUMBS ==================== */

#breadcrumbs {
	padding: 0.6em 0;

	background: constant(breadcrumbs-background-color);
}

#breadcrumbs div {
	margin: 0 auto;

	width: 63em;
}

#breadcrumbs p {
	font-size: 1.2em;

	line-height: 1.5em;

	color: constant(breadcrumbs-color);
}

#breadcrumbs .separator {
	color: constant(breadcrumbs-separator-color);

	padding: 0 0.3em;
}

#breadcrumbs a {
	font-weight: bold;

	text-decoration: none;
}

#breadcrumbs a:link,
#breadcrumbs a:visited {
	color: constant(breadcrumbs-link-color);
}

#breadcrumbs a:hover {
	color: constant(breadcrumbs-link-hover-color);
}

#breadcrumbs a:active {
	color: constant(breadcrumbs-link-active-color);
}

#breadcrumbs .active {
	font-weight: bold;

	color: constant(breadcrumbs-active-color);
}

/** ==================== MAIN ==================== */

#main {
	margin: 0 auto;

	width: 75em;
}

#main a {
	font-weight: bold;

	text-decoration: none;
}

#main a[rel~="friend"] {
	padding: 2px 23px 2px 0;

	background: url(../images/uf-icons/xfn-friend_brown.png) no-repeat right center;
}

#main a[rel~="met"] {
	padding: 2px 28px 2px 0;

	background: url(../images/uf-icons/xfn-friend-met_brown.png) no-repeat right center;
}

#main .tags {
	padding: 2px 0 2px 18px;

	background: url(../images/uf-icons/tag_brown.png) no-repeat left center;
}

/** ==================== CONTENT ==================== */

#content {
	float: left;

	margin: 0 0 1.8em 0;
	padding: 0 0 0 6em;

	width: 45em;
}

#content.wide {
	padding: 0 6em;

	width: 63em;
}

/** ----- headers ----- */

#content h2,
#content h3 {
	font-weight: normal;
	font-size: 1.5em;

	line-height: 1.2em;
}

#content h2 {
	margin:  2.4em 0 -0.066667em -4em;

	border-bottom: 0.066667em solid constant(content-h2-border-color);

	color: constant(content-h2-color);
}

#content.wide h2 {
	margin:  2.4em -4em -0.066667em -4em;
}

#content h3 {
	margin:  1.2em 0 -0.066667em -2em;

	clear: left;

	border-bottom: 0.066667em solid constant(content-h3-border-color);

	color: constant(content-h3-color);
}

#content.wide h3 {
	margin:  1.2em -2em -0.066667em -2em;
}

#content h4 {
	margin:  1.5em 0 -0.0833333em 0;

	color: constant(content-h4-color);

	line-height: 1.5em;

	text-transform: uppercase;

	font-weight: normal;
	font-size: 1.2em;

	border-bottom: 0.0833333em solid constant(content-h4-border-color);
}

#content h4.lame { /* lame headers don't deserve lines below them */
	margin:  1.5em 0 -1.5em 0;

	border-bottom: 0;
}

#content .section:target h3,
#content .section .section:target h4 {
	font-weight: bold;

	padding-left: 0.2em;

	color: constant(content-highlighted-header-color);

	background-color:  constant(content-highlighted-header-background-color);

	border-color: constant(content-highlighted-header-border-color);
}

/** ----- links ----- */

#content a:link,
#content a:visited {
	color: constant(content-link-color);
}

#content a.permalink:link,
#content a.permalink:visited {
	color: constant(content-permalink-color);
}

#content a:hover,
#content a.permalink:hover {
	color: constant(content-link-hover-color);
}

#content a:active,
#content a.permalink:active {
	color: constant(content-link-active-color);
}

#content .active {
	font-weight: bold;

	color: constant(content-active-color);
}

/** ----- header permalink ----- */

#content h3 a.permalink,
#content h4 a.permalink {
	font-weight: normal;
}

#content h3 a.permalink:link,
#content h3 a.permalink:visited,
#content h4 a.permalink:link,
#content h3 a.permalink:visited {
	color: constant(content-header-permalink-color);
}

#content h3 a.permalink:hover,
#content h4 a.permalink:hover {
	color: constant(content-header-permalink-hover-color);
}

#content h3 a.permalink:active,
#content h4 a.permalink:active {
	color: constant(content-header-permalink-active-color);
}

/** ----- banners ----- */

#content .banner {
	margin: 2.1em 0;
	padding: 0;

	background: constant(content-banner-background-color);
}

#content .banner img {
	width: 43em;
	height: 10em;

	padding: 1em;

	display: block;
}

/** ----- banner (large) ----- */

#content .banner-large img {
	width: 43em;
	height: 21.5em;

	padding: 1em 1em 0.9em 1em;

	background: constant(content-banner-background-color);

	display: block;
}

/** ----- banner (square) ----- */

#content .square-banner {
	margin: 0.5em 0 0.5em 0;

	float: left;
}

#content .square-banner-odd {
	margin-right: 1em;
}

#content .square-banner img {
	width: 20em;
	height: 20em;

	padding: 1em;

	background: constant(content-banner-background-color);

	display: block;
}

#content .square-banner a:hover img {
	background: constant(content-banner-hover-background-color);
}

/** ----- text ----- */

#content p {
	margin: 1.5em 0;
	padding: 0;

	font-size: 1.2em;

	line-height: 1.5em;

	color: constant(content-color);
}

#content p.byline {
	color: constant(content-lighter-color);
}

#content p.label {
	margin-bottom: 0;
}

#content .hreview .rating {
	font-family: "Hiragino Kaku Gothic Pro", "Osaka", "Arial Unicode MS", "Zapf Dingbats";
	font-size: 0.9em;
}

#content blockquote {
	margin: 1.5em 0;
	padding: 0 1.2em;

	background: constant(content-blockquote-background-color);
}

#content blockquote[cite]:after {
	display: block;

	font-size: 1.2em;

	line-height: 1.5em;

	color: constant(content-lighter-color);

	margin: 0 -1em;
	padding: 0.75em 1em;

	content: "(Cited from " attr(cite) ")";
}

#content blockquote p {
	margin: 0;
	padding: 0.75em 0;
}

#content pre {
	margin: 1.5em 0;
	padding: 0.75em;

	font-size: 1.2em;

	line-height: 1.5em;

	overflow: hidden;

	background: constant(content-pre-background-color);

	color: constant(content-pre-color);
}

#content pre.output {
	color: constant(content-pre-output-color);
}

#content pre.wide:hover {
	width: 56em;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#content pre.wide:after {
	display: block;

	padding-top: 1.5em;

	color: constant(content-pre-lighter-color);

	content: "(Move your cursor over the code to expand)";
}

#content .path {
	font-style: italic;
}

#content code,
#content samp,
#content var,
#content kbd {
	font-family: "Bitstream Vera Sans Mono", Consolas, "Courier New", Courier, monospace;
	font-style: normal;
	font-size: 1em;

	padding-left: 0.2em;
	padding-right: 0.2em;

	line-height: 1em;

	background: constant(content-code-background-color);
}

#content pre code,
#content pre samp,
#content pre var,
#content pre kbd {
	background: transparent;

	padding: 0;
}

/** ----- lists ----- */

#content ul,
#content ol {
	padding: 0;
	margin: 1.5em 0 1.5em 0.8em;

	list-style-position: inside;

	font-size: 1.2em;

	line-height: 1.5em;
}

#content ul ul,
#content ol ol {
	margin: 0 0 0 2em;

	font-size: 1em;
}

#content ul {
	list-style-type: square;
}

#content ul.articles {
	margin: 1.5em 0;

	list-style-type: none;
}

#content ul.sentences {
	margin: 1.5em 0 1.5em 1.6em;

	list-style-position: outside;
}

#content li {
	font-size: 1em;

	line-height: 1.5em;
}

#content li p {
	font-size: 1em;
}

#content dl {
	margin: 1.5em 0;

	font-size: 1.2em;
}

#content dt {
	line-height: 1.5em;
}

#content dd {
	margin: 0 0 1.5em 2em;

	line-height: 1.5em;
}

/** ----- code ----- */

#content code .comment {
	color: #888;
}

#content code .value,
#content code .string {
	padding: 0 0.1em;

	background-color: #484830;
	color: #fe3;
}

#content code .constant,
#content code .symbol {
	color: #96f;
}

#content code .function {
	color: #f90;
}

#content code .storage {
	color: #f60;
}

#content code .variable {
	/* color: #fd0; */
}

#content code .keyword {
	color: #39f;
}

#content code .element {
	color: #39f;
}

#content code .attribute {
	color: #f90;
}

#content code .m {
	padding: 0 0.1em;

	background-color: #555;
	color: #fff;
}

/** ----- chatlog ----- */

#content ol.interview {
	margin: 1.5em 0;
}

#content ol.interview li {
	list-style-type: none;
}

#content ol.interview li.message {
	background: constant(content-interview-message-background-color);

	padding: 0.75em;
}

#content ol.interview li.question {
	background: constant(content-interview-question-background-color);

	margin: 1.5em 0 0 0;
}

#content ol.interview li.answer {
	margin: 0 0 1.5em 0;
}

#content ol.interview li.middle {
	margin-top: 0;
	margin-bottom: 0;
}

#content ol.interview cite {
	font-weight: bold;
	font-style: normal;

	text-transform: uppercase;

	color: constant(content-interview-person-color);
}

#content ol.interview q:before,
#content ol.interview q:after {
	content: '';
}

/** ----- gallery ----- */

#content .gallery {
	margin: 1.5em -1em;
}

#content .gallery li {
	margin: 1em;

	float: left;

	list-style-type: none;

	line-height: 1em;
}

#content .gallery a {
	padding: 0.8em;

	float: left;

	background: constant(content-gallery-item-background-color);
}

#content .gallery a:hover {
	padding: 0.8em;

	float: left;

	background: constant(content-gallery-item-hover-background-color);
}

#content .gallery img {
	width:  10em;
	height: 6.2em;

	border: 0;
}

/** ----- forms ----- */

#content textarea {
	width: 100%;

	font-size: 1.2em;
	line-height: 1.5em;
}

#content ul.radio {
	margin-left: 0;

	list-style-type: none;
}

/** ==================== SIDEBAR ==================== */

#sidebar {
	float: right;

	margin: 0 0 1.8em 0;
	padding: 0 6em 0 0;

	width: 16em;
}

#sidebar h2 {
	display: none;
}

#sidebar h3 {
	margin:  2.4em -4em -0.066667em 0;
	padding: 0.0em 0 0    0;

	font-weight: normal;
	font-size: 1.5em;

	text-align: right;

	line-height: 1.2em;

	border-bottom: 0.066667em solid constant(sidebar-header-border-color);

	color: constant(sidebar-header-color);
}

#sidebar a.ad {
	display: block;

	margin: 1.5em 0;
}

#sidebar a.ad img {
	height: 40em;
	width: 16em;
}

#sidebar p {
	margin: 1.5em 0;
	padding: 0;

	font-size: 1.2em;

	line-height: 1.5em;

	color: constant(sidebar-color);
}

#sidebar ul,
#sidebar ol {
	margin: 1.5em 0;

	font-size: 1.2em;
}

#sidebar li {
	list-style-type: none;

	line-height: 1.5em;
}

#sidebar .delicious-posts li {
	margin: 1.5em 0;
	padding: 0;
}

#sidebar .delicious-posts p {
	display: inline;

	font-size: 1em;
}

/** ----- links ----- */

#sidebar a:link,
#sidebar a:visited {
	color: constant(sidebar-link-color);
}

#sidebar a:hover {
	color: constant(sidebar-link-hover-color);
}

#sidebar a:active {
	color: constant(sidebar-link-active-color);
}

#sidebar .active {
	font-weight: bold;

	color: constant(sidebar-active-color);
}

/** ==================== FOOTER ==================== */

.footer {
	clear: both;
}

.footer h2 {
	display: none;
}

.footer p {
	margin: 1.5em 0;

	font-size: 1.2em;

	line-height: 1.5em;
}

.footer .wrapper {
	margin: 0 auto;
	padding: 0 6em;

	width: 63em; /* 75em - 2*(1.5em*4em) */
}

.footer .active {
	font-weight: bold;

	color: constant(footer-active-color);
}

.footer a {
	font-weight: bold;

	text-decoration: none;
}

.footer a:link,
.footer a:visited {
	color: constant(footer-link-color);
}

.footer a:hover {
	color: constant(footer-link-hover-color);
}

.footer a:active {
	color: constant(footer-link-active-color);
}

/** ----- top ----- */

#footer-top {
	background: constant(footer-top-background-color);

	width: 100%;

	float: left;

	color: constant(footer-top-color);
}

#footer-top h3 {
	margin:  1.2em 0 -0.066667em 0;

	font-weight: normal;
	font-size: 1.5em;

	line-height: 1.2em;

	border-bottom: 0.066667em solid constant(footer-top-header-border-color);

	color: constant(footer-top-header-color);
}

#footer-top .block {
	float: left;

	width: 16em;
}

#footer-top div.archives {
	padding-left: 2em;
}

#footer-top .block ul {
	margin: 1.5em 0;

	list-style-type: none;

	font-size: 1.2em;
}

.footer .block li {
	line-height: 1.5em;
}

#footer-top .recent-posts {
	margin-left: 0;

	width: 45em;
}

/** ----- bottom ----- */

#footer-bottom {
	width: 100%;

	clear: both;

	background: constant(footer-bottom-background-color);

	border-bottom: 1.8em solid constant(footer-bottom-border-color);

	color: constant(footer-bottom-color);
}

#footer-bottom p {
	margin: 0;
	padding: 1.5em 0;
}
