* {
	margin: 0;
	padding: 0;

	line-height: 1;
}

a img {
	border: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 7pt;

	line-height: 1.5em;
}

strong {
	font-size: 0.9em;

	text-transform: uppercase;

	color: #f00;
}

/** ==================== NAV ==================== */

#nav {
	display: none;
}

/** ==================== H1 ==================== */

h1 {
	display: none;
}

/** ==================== BREADCRUMBS ==================== */

#breadcrumbs {
	padding: 0.6em 0;
}

#breadcrumbs p {
	font-size: 1.2em;

	line-height: 1.5em;

	color: #555;
}

#breadcrumbs .separator {
	color: #999;

	padding: 0 0.3em;
}

#breadcrumbs a {
	font-weight: bold;

	text-decoration: none;
}

#breadcrumbs a:link,
#breadcrumbs a:visited {
	color: #333;
}

#breadcrumbs .active {
	font-weight: bold;

	color: #c00;
}

/** ==================== MAIN ==================== */

#main a {
	font-weight: bold;

	text-decoration: none;
}

#main .tags:before {
	content: "Tags: ";
}

/** ==================== CONTENT ==================== */

#content {
	margin: 0 0 1.8em 0;
	padding: 0 6em;
}

/** ----- headers ----- */

#content h2,
#content h3 {
	font-weight: normal;
	font-size: 1.5em;

	line-height: 1.2em;
}

#content h2 {
	margin:  2.4em -4em -0.066667em -4em;

	border-bottom: 1pt solid #900;

	color: #1e1918;
}

#content h3 {
	margin:  1.2em -2em -0.066667em -2em;

	clear: left;

	border-bottom: 1pt solid #c00;

	color: #1e1918;
}

#content h4 {
	margin:  1.5em 0 -0.0833333em 0;

	color: #332b2a;

	line-height: 1.5em;

	text-transform: uppercase;

	font-weight: normal;
	font-size: 1.2em;

	border-bottom: 1pt solid #b8b4b3;
}

#content h4.lame { /* lame headers don't deserve lines below them */
	margin:  1.5em 0 -1.5em 0;

	border-bottom: 0;
}

/** ----- links ----- */

#content a:link,
#content a:visited {
	color: #000;
}

#content a.permalink {
	display: none;
}

#content .active {
	font-weight: bold;

	color: #900;
}

#content a:after {
	content: " (" attr(href) ") ";

	color: #666;

	font-weight: normal;
}

#content a[href^="/"]:after {
	content: " (http://stoneship.org" attr(href) ")";
}

/** ----- banners ----- */

#content .banner {
	margin: 2.1em 0;
	padding: 0;
}

#content .banner img {
	width: 43em;
	height: 10em;

	padding: 1em 0;

	display: block;
}

#content .banner a:after {
	content: '';
}

/** ----- banner (large) ----- */

#content .banner-large img {
	width: 43em;
	height: 21.5em;

	padding: 1em 0 0.9em 0;

	display: block;
}

#content .banner-large a:after {
	content: '';
}

/** ----- banner (square) ----- */

#content .square-banner {
	margin: 0.5em 0 0.5em 0;

	float: left;
}

#content .square-banner-odd {
	margin-right: 1em;
}

#content .square-banner img {
	width: 20em;
	height: 20em;

	padding: 1em;

	display: block;
}

#content .square-banner a:after {
	content: '';
}

/** ----- text ----- */

#content p {
	margin: 1.5em 0;
	padding: 0;

	font-size: 1.2em;

	line-height: 1.5em;

	color: #1e1918;
}

#content p.byline {
	color: #888;
}

#content p.byline a:after {
	content: '';
}

#content .hreview .rating {
	font-family: "Hiragino Kaku Gothic Pro", "Osaka", "Arial Unicode MS", "Zapf Dingbats";
	font-size: 0.9em;
}

#content blockquote {
	margin: 0;
	padding: 0 0 0 3em;
}

#content blockquote[cite]:after {
	display: block;

	font-size: 1.2em;

	line-height: 1.5em;

	color: #666;

	margin: 0 -1em;
	padding: 0.75em 1em;

	content: "(Cited from " attr(cite) ")";
}

#content blockquote p {
	margin: 0;
	padding: 0.75em 0;

	color: #666;
}

#content pre {
	margin: 1.5em 0;
	padding: 0.75em 0 0.75em 3em;

	font-size: 7pt;

	line-height: 1.5em;

	overflow: hidden;

	color: #000;
}

#content pre.output {
	color: #6f0;
}

#content pre.wide {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#content .path {
	font-style: italic;
}

#content code,
#content samp,
#content var,
#content kbd {
	font-family: "Bitstream Vera Sans Mono", Consolas, "Courier New", Courier, monospace;
	font-style: normal;
	font-size: 1em;

	line-height: 1em;
}

#content pre code,
#content pre samp,
#content pre var,
#content pre kbd {
	background: transparent;

	padding: 0;
}

/** ----- lists ----- */

#content ul,
#content ol {
	padding: 0;
	margin: 1.5em 0 1.5em 0.8em;

	list-style-position: inside;

	font-size: 1.2em;

	line-height: 1.5em;
}

#content ul ul,
#content ol ol {
	margin: 0 0 0 2em;

	font-size: 1em;
}

#content ul {
	list-style-type: square;
}

#content ul.articles {
	margin: 1.5em 0;

	list-style-type: none;
}

#content ul.sentences {
	margin: 1.5em 0 1.5em 1.6em;

	list-style-position: outside;
}

#content li {
	font-size: 1em;

	line-height: 1.5em;
}

#content li p {
	font-size: 1em;
}

#content dl {
	margin: 1.5em 0;

	font-size: 1.2em;
}

#content dt {
	line-height: 1.5em;
}

#content dd {
	margin: 0 0 1.5em 2em;

	line-height: 1.5em;
}

/** ----- chatlog ----- */

#content ol.interview {
	margin: 1.5em 0;
}

#content ol.interview li {
	list-style-type: none;
}

#content ol.interview li.message {
	padding: 0;
}

#content ol.interview li.question {
	margin-top: 1.5em;
}

#content ol.interview li.answer {
	margin-bottom: 1.5em;
}

#content ol.interview li.middle {
	margin-top: 0;
	margin-bottom: 0;
}

#content ol.interview cite {
	font-weight: bold;
	font-style: normal;

	text-transform: uppercase;

	color: #000;
}

#content ol.interview q:before,
#content ol.interview q:after {
	content: '';
}

/** ----- gallery ----- */

#content .gallery {
	margin: 1.5em -1em;
}

#content .gallery li {
	margin: 1em;

	float: left;

	list-style-type: none;

	line-height: 1em;
}

#content .gallery a {
	padding: 0.8em;

	float: left;
}

#content .gallery img {
	width:  10em;
	height: 6.2em;

	border: 0;
}

#content .gallery a:after {
	content: '';
}
/** ----- forms ----- */

#content textarea {
	width: 100%;

	font-size: 1.2em;
	line-height: 1.5em;
}

#content ul.radio {
	margin-left: 0;

	list-style-type: none;
}

/** ==================== SIDEBAR ==================== */

#sidebar {
	display: none;
}

/** ==================== FOOTER ==================== */

.footer {
	display: none;
}
