---
title: "Reviews"
quick_reviews:
  - title:  "Max Payne"
    rating: 4
    subtype: game
  - title:  "Max Payne II: The Fall of Max Payne"
    rating: 5
    subtype: game
  - title:  "Psychonauts"
    rating: 5
    subtype: game
  - title:  "Portal"
    rating: 5
    subtype: game
  - title:  "Half Life 2"
    rating: 5
    subtype: game
  - title:  "Bioshock"
    rating: 4
    subtype: game
  - title:  "DarkStar One"
    rating: 3
    subtype: game
  - title:  "Total Recall"
    rating: 4
    subtype: movie
  - title:  "Sweeney Todd: The Demon Barber of Fleet Street"
    rating: 5
    subtype: movie
  - title:  "Time Bandits"
    rating: 3
    subtype: movie
  - title:  "The Prestige"
    rating: 4
    subtype: movie
  - title:  "The Illusionist"
    rating: 5
    subtype: movie
  - title:  "Sunset Boulevard"
    rating: 4
    subtype: movie
  - title: "Stacking"
    rating: 4
    subtype: game
  - title: "Blade Runner"
    rating: 5
    subtype: movie
  - title: "Princess Mononoke"
    rating: 4
    subtype: movie
  - title: "Spirited Away"
    rating: 5
    subtype: movie
  - title: "Ghost in the Shell"
    rating: 4
    subtype: movie
  - title: "Ghost in the Shell 2: Innocense"
    rating: 4
    subtype: movie
  - title: "Zardoz"
    rating: 3
    subtype: movie
  - title: "Dead Island"
    rating: 3
    subtype: game
  - title: "Batman: Arkham Asylum"
    subtype: game
    rating: 4
  - title: Avernum 1
    subtype: game
    rating: 4
  - title: Minecraft
    subtype: game
    rating: 3
  - title: Shutter Island
    subtype: movie
    rating: 5
  - title: Argo
    subtype: movie
    rating: 5
  - title: Life of Pi
    subtype: movie
    rating: 3
  - title: Portal 2
    subtype: movie
    rating: 4
  - title: The Hobbit
    subtype: movie
    rating: 3
  - title: Geneforge
    subtype: game
    rating: 4
  - title: Dragon Age
    subtype: game
    rating: 5
  - title: The Witcher
    subtype: game
    rating: 4
  - title: The Witcher 2
    subtype: game
    rating: 4
---

<p>Here’s the list of stuff that I’ve reviewed. I intend to keep this up to date when possible; whenever I find something that’s worth (or perhaps not worth at all) watching, playing or using, I’ll put it in this list. I won’t be reviewing music, because <a href="http://www.last.fm/user/amonre">my Last.fm profile</a> should already be enough to give you an idea of what I think is good.</p>

<% @item.children.map { |c| c[:subtype] }.uniq.sort.each do |subtype| %>

<h2><%= subtype.capitalize %>s</h2>

<ul class="ratings">
<% @item.children.select { |c| c[:subtype] == subtype }.sort_by { |i| i[:title] }.each do |review| %>
    <li><span class="rating"><%= rating_code_for(review) %></span> <%= review.path ? link_to(review[:title], review) : h(review[:title]) %></li>
<% end %>
</ul>

<% end %>
