<p><a href="http://layertennis.com/">Layer Tennis</a> is running a semi-interactive ad for Adobe Creative Suite 3. This is what it looks like:</p>

<div class="banner banner-large"><img src="http://stoneship.org/media/images/journal/cs3_ad_off.png" alt="CS3 ad with slider moved all the way to the left"></div>

<p>When you move the slider to the right, more and more animated and interactive artwork appears from behind the rectangle. Take a look:</p>

<div class="banner banner-large"><img src="http://stoneship.org/media/images/journal/cs3_ad_on.png" alt="CS3 ad with slider moved all the way to the right"></div>

<p>The idea behind the ad is interesting, but I fail to see the message behind it. In fact, the sentence "Take as much as you want" strikes me as odd. Translation:</p>

<blockquote><p>This is an advertisement for Adobe Creative Suite 3. When you buy this product, you'll actually pay for way more than you'll ever need.</p></blockquote>

<p>This ad couldn't have yelled "bloatware" any louder.</p>
