<p>About two weeks ago, I decided that it was time for me to get a good photo camera, and I got hold of a Nikon D40. Here's some highlights of what I've captured so far:</p>

<div class="gallery-square">
	<div class="banner banner-square">
		<a href="http://flickr.com/photos/denisdefreyne/860583675/"><img src="http://stoneship.org/assets/images/photos/1.jpg" alt="Girl"></a>
	</div>
	<div class="banner banner-square">
		<a href="http://flickr.com/photos/denisdefreyne/865766892/"><img src="http://stoneship.org/assets/images/photos/2.jpg" alt="Girl"></a>
	</div>
	<div class="banner banner-square">
		<a href="http://flickr.com/photos/denisdefreyne/750182106/"><img src="http://stoneship.org/assets/images/photos/3.jpg" alt="Cat"></a>
	</div>
	<div class="banner banner-square">
		<a href="http://flickr.com/photos/denisdefreyne/863085355/"><img src="http://stoneship.org/assets/images/photos/4.jpg" alt="Eye"></a>
	</div>
	<div class="banner banner-square">
		<a href="http://flickr.com/photos/denisdefreyne/854131080/"><img src="http://stoneship.org/assets/images/photos/5.jpg" alt="Tower"></a>
	</div>
	<div class="banner banner-square">
		<a href="http://flickr.com/photos/denisdefreyne/754173324/"><img src="http://stoneship.org/assets/images/photos/6.jpg" alt="Girl Smoking"></a>
	</div>
</div>

<p>For more photos, check out <a href="http://flickr.com/photos/denisdefreyne/">my Flickr page</a>.</p>
