<p>As of today, May 19th, I am 21 years old. Happy birthday to myself!</p>

<p>Also, <a href="http://www.starcraft2.com/">StarCraft II</a> got announced. Omgwtfbbq. The game is, unfortunately, not yet available, and it doesn't look like Blizzard is going to get me a birthday present either.</p>

<p>This journal entry is incredibly short, and the amount of whitespace below this paragraph is frightening. Oh well.</p>

<p>Anyway. <span style="font-style:italic">Sssspawn more birthday cakessss</span>.</p>
