<p>Just a quick notice that both <a href="http://mystblogs.com/">Myst Blogs</a> and <a href="http://urublogs.com/">Uru Blogs</a> have been redesigned. Check out those collapsable blog posts!</p>

<p>And in these days, everything <em>has</em> to be labeled "2.0", right? ;)</p>
