<p>With the introduction of the Intel Macs,  a whole new world opened up for Mac users. My iMac, for example, can run <em>anything</em> a normal PC can. Let me say that again, because it's so awesome: <em>Intel macs can run all programs and games a normal PC can</em>.</p>

<p>Obviously, the switch to Intel isn't exactly news anymore, and you're probably wondering why I'm acting like I just found out. Here's why:</p>

<p>I'm a fan of the Myst game series. I've played every single game in the series a few times&mdash;except for <em>Uru</em>, which isn't Mac-compatible. So not long after I got my Intel Mac I installed Windows XP and started playing Uru. </p>

<p>I was quite pleasantly surprised when I played Uru for the first time. It is not unlike Myst, but still vastly different. I won't go into details; I recommend you check out the game and <a href="http://www.gametap.com/home/myst/signup_tryitbuyit_domestic.html">get a free Uru account</a> and play around with that.</p>

<p>In Uru, unlike first-person shooters or role-playing, it is worth wandering around, occasionally stopping to admire a beautiful view. You can't do that in a FPS&mdash;enemies could be sneaking up to you any moment (most of Half Life 2's beauty, for example, goes unnoticed because of this).</p>

<p>Stopping occasionally in order to take a screenshot is exactly what I enjoy doing. I usually end up with a few gigabytes of screenshots lying around every time I play.</p>

<p>Some views are particularly stunning. Because of this, I've created a screenshot gallery aptly named <a href="http://stoneship.org/pub/myst/uru/gallery/">amonre's Wonderful Uru Photography</a>. Go check it out. <strong>Beware! Spoilers ahead!</strong></p>

<p>Some of my absolute favourites include:</p>

<ul>
	<li>The <a href="http://stoneship.org/pub/myst/uru/gallery/images/full/aegura_great_stair.jpg">Great Stair</a> on Ae'gura</li>
	<li>The <a href="http://stoneship.org/pub/myst/uru/gallery/images/full/kadish_tolesa_4.jpg">temple</a> in Kadish Tolesa</li>
	<li>The <a href="http://stoneship.org/pub/myst/uru/gallery/images/full/aegura_library_2.jpg">Library</a> on Ae'gura</li>
</ul>

<p>In case you were wondering, I am obsessed with symmetry. I really can't help it.</p>
