<div class="hreview">
	<div class="item description">
		<%= render('meta', :verb => 'Reviewed', :item => @item) %>

<%= yield %>

		<p><strong>Rating</strong>: <%= rating_code_for(@item) %></p>
	</div>
</div>
