<p>A few weeks ago, I wrote an article called <a href="http://stoneship.org/journal/2007/static/">Static</a> in which I explained why I ditched Textpattern and switched to a homegrown CMS called nanoc. I also said I wasn't sure whether to release it or not, but I made up my mind and prepped it for a release.</p>

<p>nanoc is a CMS that runs <em>on your local computer</em> instead of on the server. You write your site on your computer and tell nanoc to "compile" the site into HTML. It's fast, it's secure, and it's powerful.</p>

<p>Give nanoc a try:</p>

<pre><samp>gem install nanoc</samp></pre>

<p>And <a href="http://nanoc.stoneship.org/tutorial/" title="Getting started with nanoc">get started</a>.</p>

<p>Check out the <a href="http://nanoc.stoneship.org/">nanoc website</a>, which (apart from the getting started guide) also includes a comprehensive <a href="http://nanoc.stoneship.org/manual/" title="nanoc reference">reference</a>, and a <a href="http://nanoc.stoneship.org/tips-and-tricks/" title="nanoc tips and tricks">tips &amp; tricks</a> page (although the latter is still a work in progress).</p>

<p>nanoc isn't finished yet, and is probably not bug-free, so send me feedback on the <a href="http://rubyforge.org/tracker/?group_id=3556">nanoc tracker at RubyForge</a>. Thanks!</p>
