---
title: "Software"
---

<p>I am a professional software developer. At my day job, I write Smalltalk (not kidding), and when I get home I can't quite seem to stop coding. I rock at Ruby, Smalltalk, C and Objective-C. For details, have a look at my <a href="http://stoneship.org/cv/" title="Denis Defreyne’s CV">curriculum vitae</a>. I naturally also have a <a href="http://github.com/ddfreyne">GitHub profile</a> where my code belongs (though some of my projects still remain in <a href="http://projects.stoneship.org/hg/">my Mercurial repositories</a>).</p>

<div class="section" id="active-projects">
	<h2>Active Projects</h2>

	<div class="section" id="nanoc">
		<h3>nanoc</h3>

		<div class="banner banner-wide"><a href="http://nanoc.stoneship.org/"><img src="/assets/images/banners/nanoc.png" alt="nanoc"></a></div>

		<p>nanoc is a static site compiler written in Ruby. It generates web sites, but it doesn't run on the server, rather on your local computer. It generates static HTML files from Markdown, Textile, ... input, ready for uploading to any web host. <a href="http://nanoc.stoneship.org/">Find out more</a>.</p>
	</div>

	<div class="section" id="cri">
		<h3>Cri</h3>

		<div class="banner banner-wide"><a href="http://rubydoc.info/github/ddfreyne/cri/file/README.md"><img src="/assets/images/banners/cri.png" alt="Cri"></a></div>

		<p>Cri is a Ruby library for building easy-to-use commandline interfaces with support for subcommands. <a href="/software/cri/">Find out more</a>.</p>
	</div>

	<div class="section" id="adsf">
		<h3>adsf</h3>

		<div class="banner banner-wide"><a href="/software/adsf/"><img src="/assets/images/banners/adsf.png" alt="adsf"></a></div>

		<p>adsf (A Dead Simple Fileserver) is a tiny static web server that you can launch instantly in any directory. <a href="/software/adsf/">Find out more</a>.</p>
	</div>

	<div class="section" id="cobject">
		<h3>CObject</h3>

		<div class="banner banner-wide"><a href="https://github.com/ddfreyne/cobject"><img src="/assets/images/banners/cobject.png" alt="cobject"></a></div>

		<p>CObject is a simple reference counting implementation that makes memory management in C applications and libraries a lot easier.</p>
	</div>
</div>
