<p>I like writing my own applications from time to time. Sometimes just for myself, and sometimes I share my creations.</p>
<p>I rock at C, Objective-C and Ruby. I know Cocoa (for Obj-C) and Rails (for Ruby). I also have some experience with Python, PHP and Java.</p>
<p>I am also having a hard time resisting advertising my favourite text editor, <a href="http://www.macromates.com/">TextMate</a>, because it rocks my socks off.</p>

<div class="section" id="active-projects">
	<h3>Active Projects</h3>

	<div class="section" id="nanoc">
		<h4>nanoc</h4>
		<div class="banner"><a href="http://nanoc.stoneship.org/"><img src="/media/images/banners/nanoc-off.png" alt="nanoc" id="banner-nanoc"></a></div>
		<p>nanoc is a Ruby CMS that doesn't run on the server, but on your local computer. It generates static HTML files ready for uploading to any web host. <a href="http://nanoc.stoneship.org/">Find out more</a>.</p>
	</div>
</div>

<div class="section" id="past-projects">
	<h3>Past Projects</h3>

	<div class="section" id="ab2foaf">
		<h4>ab2foaf</h4>
		<p>ab2foaf is a tool that generates <a href="http://www.foaf-project.org/"><abbr title="Friend of a friend">FOAF</abbr></a> data from the Mac OS X Address Book. <a href="http://ab2foaf.stoneship.org/">Find out more</a>.</p>
	</div>

	<div class="section" id="yaccc">
		<h4>yaccc</h4>
		<p>yaccc is a client for <a href="http://cho.cyan.com/chat">CyanChat</a>, written in Python. <a href="/software/yaccc/">Find out more</a>.</p>
	</div>

	<div class="section" id="cocoa-crypto-hasing">
		<h4>Cocoa Crypto Hashing</h4>
		<p>Cocoa Crypto Hashing adds MD5 and SHA1 hash support to <code>NSString</code> and <code>NSData</code>. Requires Cocoa or GNUstep and OpenSSL. <a href="/pub/software/CocoaCryptoHashing.tar.gz">Download Cocoa Crypto Hashing 1.1</a>.</p>
	</div>

	<div class="section" id="code-snippets">
		<h4>Code Snippets</h4>
		<p>I have a small repository of possibly useful code snippets, ranging from C string replacing functions to simple INI file parsers. <a href="/pub/software/snippets/">Check it out</a>.</p>
	</div>
</div>
