<p>I am a software developer. Most of the software I've written are personal projects, but occasionally I do professional application development as well.</p>

<p>I rock at C, Objective-C and Ruby. I am also experienced with Cocoa (for Obj-C) and Rails (for Ruby). In addition to that, I know a bit of Python, PHP and Java.</p>

<p>Most of my open-source projects are located in <a href="http://projects.stoneship.org/hg/">Stoneship's Mercurial repositories</a>. Some other personal projects are <a href="http://github.com/ddfreyne/">over at github</a>, but you can expect them to be converted to Mercurial sometime soon.</p>

<div class="section" id="active-projects">
	<h2>Active Projects</h2>

	<div class="section" id="nanoc">
		<h3>nanoc</h3>

		<div class="banner banner-wide"><a href="http://nanoc.stoneship.org/"><img src="/media/images/banners/nanoc.png" alt="nanoc"></a></div>

		<p>nanoc is a Ruby CMS that doesn't run on the server, but on your local computer. It generates static HTML files ready for uploading to any web host. <a href="http://nanoc.stoneship.org/">Find out more</a>.</p>
	</div>

	<div class="section" id="adsf">
		<h3>adsf</h3>

		<div class="banner banner-wide"><a href="/software/adsf/"><img src="/media/images/banners/adsf.png" alt="adsf"></a></div>

		<p>adsf (A Dead Simple Fileserver) is a tiny static web server that you can launch instantly in any directory. <a href="/software/adsf/">Find out more</a>.</p>
	</div>

	<div class="section" id="cobject">
		<h3>CObject</h3>

		<div class="banner banner-wide"><a href="/software/cobject/"><img src="/media/images/banners/cobject.png" alt="cobject"></a></div>

		<p>CObject is a simple reference counting implementation that makes memory management in C applications and libraries a lot easier.</p>
	</div>
</div>

<div class="section" id="past-projects">
	<h2>Past Projects</h2>

	<p><a href="http://ab2foaf.stoneship.org/">ab2foaf</a> is a tool that generates <a href="http://www.foaf-project.org/"><abbr title="Friend of a friend">FOAF</abbr></a> data from the Mac OS X Address Book.</p>

	<p><a href="/software/yaccc/">yaccc</a> is a client for <a href="http://cho.cyan.com/chat">CyanChat</a>, written in Python.</p>

	<p>Cocoa Crypto Hashing adds support for the MD5 and SHA1 cryptographic hash functions to <code>NSString</code> and <code>NSData</code>. <a href="http://projects.stoneship.org/hg/shared/cocoa_crypto_hashing">View repository</a>.</p>

	<p>I have a small repository of semi-useful code snippets, ranging from C string replacing functions to simple INI file parsers. <a href="/pub/software/snippets/">Check it out</a>.</p>
</div>
