<p>I like writing my own applications from time to time. Sometimes just for myself, and sometimes I share my creations.</p>

<p>I rock at C, Objective-C and Ruby. I also know Cocoa (for Obj-C) and Rails (for Ruby). I also have some experience with Python, PHP and Java.</p>

<p>I am also having a hard time resisting advertising my favourite text editor, <a href="http://www.macromates.com/">TextMate</a>, because it rocks my socks off.</p>

<div class="section" id="active-projects">
	<h2>Active Projects</h2>

	<div class="section" id="nanoc">
		<h3>nanoc</h3>

		<div class="banner banner-wide"><a href="http://nanoc.stoneship.org/"><img src="/media/images/banners/nanoc.png" alt="nanoc"></a></div>

		<p>nanoc is a Ruby CMS that doesn't run on the server, but on your local computer. It generates static HTML files ready for uploading to any web host. <a href="http://nanoc.stoneship.org/">Find out more</a>.</p>
	</div>
</div>

<div class="section" id="past-projects">
	<h2>Past Projects</h2>

	<p><a href="http://ab2foaf.stoneship.org/">ab2foaf</a> is a tool that generates <a href="http://www.foaf-project.org/"><abbr title="Friend of a friend">FOAF</abbr></a> data from the Mac OS X Address Book.</p>

	<p><a href="/software/yaccc/">yaccc</a> is a client for <a href="http://cho.cyan.com/chat">CyanChat</a>, written in Python.</p>

	<p>Cocoa Crypto Hashing adds support for the MD5 and SHA1 cryptographic hash functions to <code>NSString</code> and <code>NSData</code>. <a href="http://github.com/ddfreyne/cocoa_crypto_hashing/tree/master">View repository</a>.</p>

	<p>I have a small repository of semi-useful code snippets, ranging from C string replacing functions to simple INI file parsers. <a href="/pub/software/snippets/">Check it out</a>.</p>
</div>
