		</div>
		<div id="footer">
			<p class="copyright">All content on this site, unless otherwise specified, is <a href="/about/#legal">Copyright</a> &#169; 2000–2009 Denis Defreyne. Some rights reserved. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 License</a>. Proudly powered by <a href="http://nanoc.stoneship.org/" title="nanoc, a static site compiler in Ruby">nanoc</a>, a static site compiler in Ruby.</p>
			<p>Got lost? Check out the <a href="/sitemap/">site map</a> to find what you're looking for.</p>
		</div>
	</body>
</html>
