<?php

$gone_pages = array(
	'@^/blog(/.*$|$)@',
	'@^/pub/music/Denis@'
);

// Get path of this page
$this_path = $_SERVER['REQUEST_URI'];

// Check whether the page existed before
$is_gone = false;
foreach($gone_pages as $gone_page)
{
	if(preg_match($gone_page, $this_path) > 0)
	{
		$is_gone = true;
		break;
	}
}

// Send mail unless gone
if(!$is_gone)
{
	$email_address = 'denis.defreyne@stoneship.org';
	$url = 'http://stoneship.org' . $_SERVER['REQUEST_URI'];
	$subject = 'Stoneship: 404';
	$message = "The following URL caused a 404 error on Stoneship:\n\n" .
		$url . "\n\n" .
		"Referrer: " . $_SERVER['HTTP_REFERER'];

	mail($email_address, $url, $message, "From: " . $email_address);
}

// Serve correct HTTP status code
if($is_gone)
	header("HTTP/1.1 410 Gone");
else
	header("HTTP/1.1 404 Not Found");

?><%= render 'header' %>

<%# general message %>
<?php if($is_gone) { ?>
<p>Unfortunately, the page you requested is no longer available on this web site.</p>
<?php } else { ?>
<p>Unfortunately, the page you requested was not found on this website.</p>
<?php } ?>

<%# blog-specific message %>
<?php if (preg_match('@^/blog(/.*$|$)@', $this_path) > 0) { ?>
<p>My old blog has been taken offline, and only the <a href="/journal/2005/using-a-nsoutlineview-as-a-source-list/">Using a NSOutlineView as a Source List</a> article survived. Please check out my <a href="/journal/">new blog</a> for more up-to-date articles.</p>
<?php } ?>

<%= render 'footer' %>
